<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header lsc">
        <a class="navbar-brand yesT"> YES TELANGANA </a>
      </div>
      <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewProfile()"><a  class=""> 
                    <img src="{{usersall.images2}}" class="img-circle"  style="width:100%">  </a></li>
  
  
            
          </ul>
       <!-- <ul class="nav navbar-nav pull-right fff lsc">
            <li class="lsc" (click)="viewnoti()"><a  class=""> 
                    <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
  </ul> -->
         
  <div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
     <div class="col-sm-12">
  
            <img src="{{usersall.images2}}" class="img-circle"  style="width:45%">
     </div>
     <div class="col-sm-12">
            <div class="col-sm-12">
                    <h5 class="fnamess">    {{usersall.name}}</h5>
             </div>
           
             <div class="col-sm-12">
                    <p>   {{usersall.emailId}}</p>
             </div>
            
     </div>
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
     </div>
    
  </div>
  
  
  <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
    <div class="col-sm-12">
           <img src="{{usersall.images2}}" class="img-circle"  style="width:45%">
    </div> 
   </div>  
  
    </div>
  </nav>
  
  <!-- ********************************************************************************************************************* -->
  

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities">
            <h3 class="acName"> <b> Activities </b></h3>
            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>

              <div class="col-sm-12 sidenavact" (click)="Ficilities()">
                  <h4> Post / views Ficilities  </h4>
              </div> 

              <div class="col-sm-12 sidenavact" (click)="Features()">
                <h4> Post / views Features  </h4>
            </div> 

              <!-- <div class="col-sm-12 sidenavact" (click)="customersShow()">
                  <h4> Post / View Customers </h4>
              </div>  -->
            <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post  / View Updates </h4>
            </div>
            
              <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> Recieve Comments ({{onlyCommC}})</h4>
                  </div>
                  <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                          <h4> Galleries </h4>
                      </div>
                      
                          
                             
      
        </div>
      
      
     
      
  
  
      <div class="col-sm-8">


          <div class="col-sm-12" *ngIf="feature">
          
<h2> Post / views Features  </h2>
<div class="col-sm-12">
    <h2> Post Features  </h2>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="please enter your mainTitle" [(ngModel)]="fut.mainTitle" name="descriptions">
      </mat-form-field>
 <button class="btn-primary upbuttons" (click)="futuresPosts()"> submit </button>
</div>

<h2>   views Features  </h2>
<div class="col-sm-5">
    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{futuresGetsName}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li class="locationsdrops" *ngFor="let get of futuresGet" (click)="futuresClickes(get)">{{get.mainTitle}}</li>
          </ul> 
</div>

<div class="col-sm-12">
    <h2> Post Features Two  </h2>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="please enter your subTitle" [(ngModel)]="futTwo.subTitle" name="descriptions">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="please enter your value" [(ngModel)]="futTwo.value" name="value">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter your descriptions" [(ngModel)]="futTwo.descriptions" name="value">
          </mat-form-field>

        <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFutures($event,'images')" [(ngModel)]="futTwo.images" placeholder="please enter images" class="updated" name="images" >

 <button class="btn-primary upbuttons" (click)="futuresTwoPosts()"> submit </button>
</div>

<div class="col-sm-12">
    <h2 class="ss"> <span class="tt"> {{futuresGetsName}} </span> </h2>

<ul>
  <li class="b" *ngFor="let pro of futuresTwoGet ; index as i">
      <img src="{{pro.images}}" class="img-thumbnail" alt="Chicago" style="width:100%;">

    {{i+1}} . {{pro.subTitle}} : {{pro.value}} {{pro.descriptions}}</li>
   
</ul>
</div>


            </div>
       <div class="col-sm-12" *ngIf="showmains">
            <div class="col-sm-12 bghostels">
         
                <h2 class="cnames"> {{ usersall.shopName}} </h2>    

            <div class="col-sm-12 bgimg">

                <img src="{{  usersall.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
            
            </div>
            <div class="bgimgses">
                
                      <div class="col-sm-6 mains">
              
                          
              <div class="col-md-12">
              <img src="{{  usersall.images2}}" style="width:100%" class="pull-left img-thumbnail profilepic img-responsive">
                
              <hr/>
              </div>
              </div>
              <div class="col-sm-6 mains">
              
                  
              <div class="col-md-12">
                  <p class="aboutus"> About Us  </p>
                  <p class="aboutuso">  {{  usersall.profileDes1}}</p>
                  <p class="aboutust"> {{  usersall.profileDes2}} </p>
              <hr/>
              <h3 class="aboutusts"> <b> {{  usersall.name}} </b></h3>
              <hr/>
              </div>
              </div>
                  
              </div>
           

              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12">
                        <div class="col-sm-12 timings">
                            <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
        <ul class="allfontadj">
          <li class="nones "> {{  usersall.day1}} </li>
          <li class="nones"> {{  usersall.day2}} </li>
          <li class="nones"> {{  usersall.day3}} </li>
          <li class="nones"> {{  usersall.day4}} </li>
          <li class="nones"> {{  usersall.day5}} </li>
          <li class="nones"> {{  usersall.day6}} </li>
          <li class="nones"> {{  usersall.day7}} </li>
          <li class="nones"> Hours Of Operations : <span class="hrs"> {{  usersall.allTimes}} </span> </li>
        </ul>
        <hr/>
                        </div>
                      
                          <hr/>
                          <div class="col-sm-12 e addes">
      
                              <h4 class="ads"> Address </h4> 
                              <hr/>
                              <div class="col-sm-12 cons addresscap allfontadj">
                                 H No:{{  usersall.hno}} , {{  usersall.area}},{{  usersall.landmark}},{{  usersall.city}}
                                 {{  usersall.distict}},
                                  {{  usersall.state}},
                                  {{  usersall.pincode}}
                            </div>
              
                          </div>
                       
                          <div class="col-sm-12 e addes">
                              <h4 class="ads"> Contact informations </h4> 
                              <hr/>
                              <div class="col-sm-12 cons allfontadj">
        <p>  
            <span class="glyphicon glyphicon-phone-alt"> office no: {{  usersall.officeNo}} 
            
        </span>
         </p>
                                    <br>
          <p> 
               <span class="glyphicon glyphicon-earphone">
                     Mobile No: {{  usersall.mobileNo}} 
              </span></p>
                                      <br>
                  <p> <i class="fa fa-whatsapp" aria-hidden="true">
                       whatsapp No: {{  usersall.whatsupno}} </i></p>
                                                                <br>
                                 <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{  usersall.emailId}} </i>
                                             
                                  </p> 
                                    <br>
                                    
                              </div>
        
                            </div>
                        </div>
      
      
        <div class="col-sm-9">
           <div class="col-sm-12">
               <h2> Our Team Members </h2>
                <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="{{  usersall.images3}}" class="img-thumbnail" alt="Los Angeles" style="width:100%;height:600px">
                      </div>
                
                      <div class="item">
                        <img src="{{  usersall.images4}}" class="img-thumbnail" alt="Chicago" style="width:100%;height:600px">
                      </div>
                    
                      <div class="item">
                        <img src="{{  usersall.images5}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                      </div>
                      <div class="item">
                          <img src="{{  usersall.images6}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                        </div>
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div> 
                </div>
      
      <h3> <b> {{  usersall.teamMembersNames}}  </b> </h3>
        <h5> {{  usersall.teamDescriptions}}  </h5>
      
             </div>
         
      
        </div>
      </div>
 </div>
   </div>


  
 <div class="col-sm-12" *ngIf="updatesShows">
            <div class="col-sm-12">
                <h3> Post / View Updates </h3>
                <div class="col-sm-12">
                        <h3> Post Updates </h3>

                        <div class="col-sm-12">
                                 
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.descriptions" name="descriptions">
                                          </mat-form-field>
                                         
                  
    <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
   <p> Vidoe </p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdatess($event,'viedoes')" placeholder="please enter images1" class="updated" name="viedoes" >
  
                        <button class="btn-primary upbuttons" (click)="updatesPostData()"> submit </button>
                            
                        </div>
                </div>

                <div class="col-sm-12">
                        <h3> View Updates </h3>

  <!-- ******************* UPDATES PRESENT ********************************* -->
  <div class="col-sm-12">
        <h3> Our Updates ( {{clientUpdatesCnts}} ) </h3>
         <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
           <div class="col-sm-12">
               <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                 <a> 
                     <img src="{{up.images}}" alt="about us" style="width:100%"></a>
           </div>
       <div class="col-sm-12 viedoes">
               <video width="100%" height="400px" controls>
                   <source src="{{up.viedoes}}" type="video/mp4">
                  </video>
             </div>
         
             <div class="col-sm-12">
                 <h3> {{up.title}} </h3>
                 <h6> {{up.description}} </h6>
              </div>
     
              <!-- <div class="col-sm-3" (click)="shareClick(up)">
                     <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                       share </p>
                  </div> -->
                 <div class="col-sm-3" (click)="commentsClick(up)">
                     <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                       <span class=""> comments </span> 
                    </p>
             </div>
             <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                 <div class="col-sm-1">
                     <a href="https://www.facebook.com/" target="_blank">
                 <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                 </a>
             </div>
                 
                   <div class="col-sm-1">
                           <a href="https://www.whatsapp.com/" target="_blank">
                       <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                           </a>
                 </div>
                    <div class="col-sm-1">
                      <a href="https://plus.google.com/discover" target="_blank">
                      <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                    </div>
        <div class="col-sm-1"> 
            <a href="https://twitter.com/login" target="_blank">
              <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
        </div>
      <div class="col-sm-1"> 
         <a href="https://www.instagram.com/accounts/login/" target="_blank">
           <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
        </div>
             </div>
         
           <div class="col-sm-12">
               <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                  
                 <div class="col-sm-12">
                   <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
               </div>
             </div>
      
       <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
     <div class="col-sm-12" *ngFor="let comms of getUsersComments">
       <div class="col-sm-12 userscomm">
       <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                        <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                         <h6>  {{comms.descriptions}} </h6> 
      </div>                  
                     <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                             <a class="replyses">
                                 <b class="replies lsc"> reply   </b></a>
                         </div> 
                      
     
     
         <div  class="u" *ngIf="replyfrom && replyid == comms._id">
                <mat-form-field class="example-full-width">
                        <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                      </mat-form-field>
                      <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
           <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
               <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
          <img src="{{usersall.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
             {{usersall.name}}:</span>
            <h5> {{rep.descriptions}} </h5> 
            </div> 
            </div> 
     
           </div>
         </div>
     </div>
           </div>
         </div>
               </div>
             </div>
           </div>
          <div class="col-sm-12" *ngIf="onlyCommentsShows">
                    <h1> Recieve Comments ({{onlyCommC}}) </h1>
                
                    <table class="table">
                            <thead>
                              <tr>
                                    <th>S no</th>
                                <th>Date & Time</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Leave Comments </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let com of onlyComm; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                                <td> {{com.name}}  </td>
                                <td>{{com.email}}</td>
                                <td>{{com.contactNo}}</td>
                                <td>{{com.leaveComment}}</td>
                              </tr>
                               
                            </tbody>
                          </table>
         </div>
  
         <div class="col-sm-12" *ngIf="ImagesShows">
                 <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{usersall.images1}}" target="_blank"> 
      <img src="{{usersall.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{usersall.images2}}" target="_blank"> 
          <img src="{{usersall.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{usersall.images3}}" target="_blank"> 
              <img src="{{usersall.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{usersall.images4}}" target="_blank"> 
                  <img src="{{usersall.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{usersall.images5}}" target="_blank"> 
                      <img src="{{usersall.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Video  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                                
                               </a>
                          </div>
               </div>
      </div>
     
           </div>
  
           <div class="col-sm-12" *ngIf="ficilitiesShow">
              <h3> Post / views Ficilities  </h3>
              <div class="col-sm-12   ">
                  <h4> Post Ficilities  </h4>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your name" [(ngModel)]="fec.name" name="name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your importants Key" [(ngModel)]="fec.importantsKey" name="importantsKey">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your descriptions" [(ngModel)]="fec.descriptions" name="descriptions">
                        </mat-form-field>
                         <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your maintenance" [(ngModel)]="fec.maintenance" name="generalDescription">
                    </mat-form-field>

      <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputServices($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
          <button class="btn-primary upbuttons" (click)="fecilitiesPostData()"> submit </button>
          
           <!-- *****************************************************our fecilities *********************************** -->
 <div class="col-sm-12">
     
        <h3> <b> View Ficilities ({{hallsFecnt}}) </b> </h3>
        <div class="col-sm-12 fecdiv" *ngFor="let fet of hallsFec">
                <div class="col-sm-5">
                        <div class="thumbnail imgadj">
                                <img src="{{fet.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                         </div></div>
                                 
                                 <div class="col-sm-6">
                                        <h3 class="fec"><b>  Name:</b>  <span class="frct"> {{fet.name}} </span></h3>
                                        <h3 class="fec"><b> Key Word:</b> <span class="frct">{{fet.importantsKey}} </span></h3>
                                        <h3 class="fec"><b>  Descriptions :</b> <span class="frct"> {{fet.descriptions}} </span> </h3>
                                        <h3 class="fec"><b> Maintenance :</b> <span class="frct"> {{fet.maintenance}} </span> </h3>
                                       
                                    </div>
            <h5 class="pull-right"> posted on : <b> {{fet.createdAt | date: 'dd/MM/yyyy'}} {{fet.createdAt  | date: "shortTime"}} </b></h5>
       </div>
       <hr/>
</div>
              </div>
                 </div>



            <div class="col-sm-12" *ngIf="customersShows">
                <h3> Post / views Customers  </h3>
                <div class="col-sm-12   ">
                    <h4> Post Customers  </h4>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter your brideName" [(ngModel)]="cus.brideName" name="brideName">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your groomeName" [(ngModel)]="cus.groomeName" name="groomeName">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your Place" [(ngModel)]="cus.Place" name="Place">
                          </mat-form-field>
                         
  
        <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputCustomers($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
            <button class="btn-primary upbuttons" (click)="customersPostData()"> submit </button>
            
             <!-- *****************************************************our customers *********************************** -->
   <div class="col-sm-12">
       
          <h3> <b> View customers ({{hallscusc}}) </b> </h3>
          <div class="col-sm-12 fecdiv" *ngFor="let fet of hallscus">
                  <div class="col-sm-5">
                          <div class="thumbnail imgadj">
                                  <img src="{{fet.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                           </div></div>
                                   
                                   <div class="col-sm-6">
                                          <h3 class="fec"><b>  Name:</b>  <span class="frct"> {{fet.brideName}} </span></h3>
                                          <h3 class="fec"><b> Key Word:</b> <span class="frct">{{fet.groomeName}} </span></h3>
                                          <h3 class="fec"><b>  Descriptions :</b> <span class="frct"> {{fet.Place}} </span> </h3>
                                          
                                      </div>
              <h5 class="pull-right"> posted on : <b> {{fet.createdAt | date: 'dd/MM/yyyy'}} {{fet.createdAt  | date: "shortTime"}} </b></h5>
         </div>
         <hr/>
  </div>
                </div>
             </div>
        </div>  
      </div>
    </div>
  
