 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
  <div class="col-sm-12">
      <img src="assets/images/reald.jpeg" alt="about us" style="width:100%;height:500px">
    </div>
<div class="col-sm-12">
  <h3 class="maintitle">{{realPropertyDetailsInd.propertyName}}</h3> 
 <div class="col-sm-12 set">
 
  <h3><b> Area : </b> <span class="locationSet">   {{realPropertyDetailsInd.locations}} </span> ,<span class="areaSet">  {{realPropertyDetailsInd.area}}  </span> </h3>
  <h3> <b>  {{realPropertyDetailsInd.realestatType}} {{realPropertyDetailsInd.realestatTypeBusinessLogic}} {{realPropertyDetailsInd.realestatTypeBusinessLogicRoom}} </b> </h3>
  <h3> <b>  {{realPropertyDetailsInd.propertyArea}} </b> </h3> 
</div>


  <div class="col-sm-12">
  <img src="{{realPropertyDetailsInd.mainImg}}" class="img-thumbnail" alt="about us" style="width:100%;">

 </div>

 <div class="col-sm-12">
  
<h3> <b> Short Descriptions : </b> <span class="nertset">  {{realPropertyDetailsInd.shortDesc}} </span></h3>
<h3> <b> Long Descriptions : </b> <span class="nertset">{{realPropertyDetailsInd.longDesc}} </span></h3>
<h3> <b> Furniture Details : </b>  <span class="nertset"> {{realPropertyDetailsInd.furnituresDetails}} </span></h3>
<h3> <b> Landmark : </b>  <span class="nertset"> {{realPropertyDetailsInd.landmark}} </span></h3>
<h3> <b> Status : </b>  <span class="nertset"> {{realPropertyDetailsInd.status}} </span> </h3>
<h3> <b> About Floor : </b>  <span class="nertset"> {{realPropertyDetailsInd.floor}} </span> </h3>
<h3> <b> Verifications : </b>  <span class="nertset"> {{realPropertyDetailsInd.verifications}} </span> </h3>
<h3> <b> OptionalDescriptions : </b>  <span class="nertset"> {{realPropertyDetailsInd.optionalDescriptions}} </span> </h3>
<h3> <b> Price : </b>   <span class="nertset">  {{realPropertyDetailsInd.price}} </span> </h3>
 </div>

</div>

<div class="col-sm-12">

<h3 class="namesCapos">Inner View </h3> 
 <div class="col-sm-12" *ngIf="innerView">
  
  
  <div class="col-sm-4  adforms bc">
    
  <button class="btn-primary upbuttons bunts" (click)="PostsmainInnerView()"> submit </button>
  
        </div>
      </div>
 <div class="col-sm-12">
     <table class="table table-hover">
         <thead>
           <tr>
             <th> </th>
             <th> </th>
             
           </tr>
         </thead>
         <tbody *ngFor="let inner of basicDetailsInnerViews">
             
           <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg1}}" target="_blank">
                         <img src="{{inner.innerNimg1}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName1}}</h4>
                     <p>{{inner.innerNdes1}} </p>
                   </div>
             </td>
            </tr>
            <tr>
               <td class="innerview"> 
                   <div class="col-md-12">
                       <div class="thumbnail">
                         <a href="{{inner.innerNimg2}}" target="_blank">
                           <img src="{{inner.innerNimg2}}" alt="about us" style="width:100%;height:300px">
                          </a>
                       </div>
                     </div>
               </td>
               <td>
                   <div class="caption col-md-12">
                     <h4 class="iname">{{inner.innerName2}}</h4>
                       <p>{{inner.innerNdes2}} </p>
                     </div>
               </td>
              </tr>
              <tr>
                 <td class="innerview"> 
                     <div class="col-md-12">
                         <div class="thumbnail">
                           <a href="{{inner.innerNimg3}}" target="_blank">
                             <img src="{{inner.innerNimg3}}" alt="about us" style="width:100%;height:300px">
                            </a>
                         </div>
                       </div>
                 </td>
                 <td>
                     <div class="caption col-md-12">
                       <h4 class="iname">{{inner.innerName3}}</h4>
                         <p>{{inner.innerNdes3}} </p>
                       </div>
                 </td>
                </tr>
                   <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg4}}" target="_blank">
                         <img src="{{inner.innerNimg4}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName4}}</h4>
                     <p>{{inner.innerNdes4}} </p>
                   </div>
             </td>
            </tr>
            <tr>
               <td class="innerview"> 
                   <div class="col-md-12">
                       <div class="thumbnail">
                         <a href="{{inner.innerNimg5}}" target="_blank">
                           <img src="{{inner.innerNimg5}}" alt="about us" style="width:100%;height:300px">
                          </a>
                       </div>
                     </div>
               </td>
               <td>
                   <div class="caption col-md-12">
                     <h4 class="iname">{{inner.innerName5}}</h4>
                       <p>{{inner.innerNdes5}} </p>
                     </div>
               </td>
              </tr>
              <tr>
                 <td class="innerview"> 
                     <div class="col-md-12">
                         <div class="thumbnail">
                           <a href="{{inner.innerNimg6}}" target="_blank">
                             <img src="{{inner.innerNimg6}}" alt="about us" style="width:100%;height:300px">
                            </a>
                         </div>
                       </div>
                 </td>
                 <td>
                     <div class="caption col-md-12">
                       <h4 class="iname">{{inner.innerName6}}</h4>
                         <p>{{inner.innerNdes6}} </p>
                       </div>
                 </td>
                </tr>
                   <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg7}}" target="_blank">
                         <img src="{{inner.innerNimg7}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName7}}</h4>
                     <p>{{inner.innerNdes7}} </p>
                   </div>
             </td>
            </tr>
            <tr>
               <td class="innerview"> 
                   <div class="col-md-12">
                       <div class="thumbnail">
                         <a href="{{inner.innerNimg8}}" target="_blank">
                           <img src="{{inner.innerNimg8}}" alt="about us" style="width:100%;height:300px">
                          </a>
                       </div>
                     </div>
               </td>
               <td>
                   <div class="caption col-md-12">
                     <h4 class="iname">{{inner.innerName8}}</h4>
                       <p>{{inner.innerNdes8}} </p>
                     </div>
               </td>
              </tr>
                 <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg9}}" target="_blank">
                         <img src="{{inner.innerNimg9}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName9}}</h4>
                     <p>{{inner.innerNdes9}} </p>
                   </div>
             </td>
            </tr>
            <tr>
               <td class="innerview"> 
                   <div class="col-md-12">
                       <div class="thumbnail">
                         <a href="{{inner.innerNimg10}}" target="_blank">
                           <img src="{{inner.innerNimg10}}" alt="about us" style="width:100%;height:300px">
                          </a>
                       </div>
                     </div>
               </td>
               <td>
                   <div class="caption col-md-12">
                     <h4 class="iname">{{inner.innerName10}}</h4>
                       <p>{{inner.innerNdes10}} </p>
                     </div>
               </td>
              </tr>
              <tr>
                 <td class="innerview"> 
                     <div class="col-md-12">
                         <div class="thumbnail">
                           <a href="{{inner.innerNimg11}}" target="_blank">
                             <img src="{{inner.innerNimg11}}" alt="about us" style="width:100%;height:300px">
                            </a>
                         </div>
                       </div>
                 </td>
                 <td>
                     <div class="caption col-md-12">
                       <h4 class="iname">{{inner.innerName11}}</h4>
                         <p>{{inner.innerNdes11}} </p>
                       </div>
                 </td>
                </tr>
                   <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg12}}" target="_blank">
                         <img src="{{inner.innerNimg12}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName12}}</h4>
                     <p>{{inner.innerNdes12}} </p>
                   </div>
             </td>
            </tr>
               <tr>
             <td class="innerview"> 
                 <div class="col-md-12">
                     <div class="thumbnail">
                       <a href="{{inner.innerNimg13}}" target="_blank">
                         <img src="{{inner.innerNimg13}}" alt="about us" style="width:100%;height:300px">
                        </a>
                     </div>
                   </div>
             </td>
             <td>
                 <div class="caption col-md-12">
                   <h4 class="iname">{{inner.innerName13}}</h4>
                     <p>{{inner.innerNdes13}} </p>
                   </div>
             </td>
            </tr>
            <tr>
               <td class="innerview"> 
                   <div class="col-md-12">
                       <div class="thumbnail">
                         <a href="{{inner.innerNimg14}}" target="_blank">
                           <img src="{{inner.innerNimg14}}" alt="about us" style="width:100%;height:300px">
                          </a>
                       </div>
                     </div>
               </td>
               <td>
                   <div class="caption col-md-12">
                     <h4 class="iname">{{inner.innerName14}}</h4>
                       <p>{{inner.innerNdes14}} </p>
                     </div>
               </td>
              </tr>
              <tr>
                 <td class="innerview"> 
                     <div class="col-md-12">
                         <div class="thumbnail">
                           <a href="{{inner.innerNimg15}}" target="_blank">
                             <img src="{{inner.innerNimg15}}" alt="about us" style="width:100%;height:300px">
                            </a>
                         </div>
                       </div>
                 </td>
                 <td>
                     <div class="caption col-md-12">
                       <h4 class="iname">{{inner.innerName15}}</h4>
                         <p>{{inner.innerNdes15}} </p>
                       </div>
                 </td>
                </tr>
                <tr>
                   <td class="innerview"> 
                       <div class="col-md-12">
                           <div class="thumbnail">
                             <a href="{{inner.innerNimg16}}" target="_blank">
                               <img src="{{inner.innerNimg16}}" alt="about us" style="width:100%;height:300px">
                              </a>
                           </div>
                         </div>
                   </td>
                   <td>
                       <div class="caption col-md-12">
                         <h4 class="iname">{{inner.innerName16}}</h4>
                           <p>{{inner.innerNdes16}} </p>
                         </div>
                   </td>
                  </tr>
                  <tr>
                     <td class="innerview"> 
                         <div class="col-md-12">
                             <div class="thumbnail">
                               <a href="{{inner.innerNimg17}}" target="_blank">
                                 <img src="{{inner.innerNimg17}}" alt="about us" style="width:100%;height:300px">
                                </a>
                             </div>
                           </div>
                     </td>
                     <td>
                         <div class="caption col-md-12">
                           <h4 class="iname">{{inner.innerName17}}</h4>
                             <p>{{inner.innerNdes17}} </p>
                           </div>
                     </td>
                    </tr>
                    <tr>
                       <td class="innerview"> 
                           <div class="col-md-12">
                               <div class="thumbnail">
                                 <a href="{{inner.innerNimg18}}" target="_blank">
                                   <img src="{{inner.innerNimg18}}" alt="about us" style="width:100%;height:300px">
                                  </a>
                               </div>
                             </div>
                       </td>
                       <td>
                           <div class="caption col-md-12">
                             <h4 class="iname">{{inner.innerName18}}</h4>
                               <p>{{inner.innerNdes18}} </p>
                             </div>
                       </td>
                      </tr>
                      <tr>
                         <td class="innerview"> 
                             <div class="col-md-12">
                                 <div class="thumbnail">
                                   <a href="{{inner.innerNimg19}}" target="_blank">
                                     <img src="{{inner.innerNimg19}}" alt="about us" style="width:100%;height:300px">
                                    </a>
                                 </div>
                               </div>
                         </td>
                         <td>
                             <div class="caption col-md-12">
                               <h4 class="iname">{{inner.innerName19}}</h4>
                                 <p>{{inner.innerNdes19}} </p>
                               </div>
                         </td>
                        </tr>
                        <tr>
                           <td class="innerview"> 
                               <div class="col-md-12">
                                   <div class="thumbnail">
                                     <a href="{{inner.innerNimg20}}" target="_blank">
                                       <img src="{{inner.innerNimg20}}" alt="about us" style="width:100%;height:300px">
                                      </a>
                                   </div>
                                 </div>
                           </td>
                           <td>
                               <div class="caption col-md-12">
                                 <h4 class="iname">{{inner.innerName20}}</h4>
                                   <p>{{inner.innerNdes20}} </p>
                                 </div>
                           </td>
                          </tr>
                          
           
         </tbody>
       </table>
                    
 </div>
 

 <div class="col-sm-12">
     <h3 class="namesCapos">Outer View </h3> 
     
      <div class="col-sm-12" *ngIf="outerViewForm">

        <div class="container">
            
      <h4> <b>Out  View Of Property </b> </h4>
         
      </div>
      </div>
  
       <div class="col-sm-12">
           <table class="table table-hover">
               <thead>
                 <tr>
                   <th> </th>
                   <th> </th>
                   
                 </tr>
               </thead>
               <tbody  *ngFor="let inner of basicDetailsOuterViews">
                   
                 <tr>
                   <td class="innerview"> 
                       <div class="col-md-12">
                           <div class="thumbnail">
                             <a href="{{inner.outerFsideimg}}" target="_blank">
                               <img src="{{inner.outerFsideimg}}" alt="about us" style="width:100%;height:300px">
                              </a>
                           </div>
                         </div>
                   </td>
                   <td>
                       <div class="caption col-md-12">
                         <h4 class="iname">{{inner.outerFsideNme}}</h4>
                           <p>{{inner.outerFsideDes}} </p>
                         </div>
                   </td>
                  </tr>
                  <tr>
                     <td class="innerview"> 
                         <div class="col-md-12">
                             <div class="thumbnail">
                               <a href="{{inner.outerBsideimg}}" target="_blank">
                                 <img src="{{inner.outerBsideimg}}" alt="about us" style="width:100%;height:300px">
                                </a>
                             </div>
                           </div>
                     </td>
                     <td>
                         <div class="caption col-md-12">
                           <h4 class="iname">{{inner.outerBsideNme}}</h4>
                             <p>{{inner.outerBsideDes}} </p>
                           </div>
                     </td>
                    </tr>
                    <tr>
                       <td class="innerview"> 
                           <div class="col-md-12">
                               <div class="thumbnail">
                                 <a href="{{inner.outerLsideimg}}" target="_blank">
                                   <img src="{{inner.outerLsideimg}}" alt="about us" style="width:100%;height:300px">
                                  </a>
                               </div>
                             </div>
                       </td>
                       <td>
                           <div class="caption col-md-12">
                             <h4 class="iname">{{inner.outerLsideNme}}</h4>
                               <p>{{inner.outerLsideDes}} </p>
                             </div>
                       </td>
                      </tr>
                         <tr>
                   <td class="innerview"> 
                       <div class="col-md-12">
                           <div class="thumbnail">
                             <a href="{{inner.outerRsideimg}}" target="_blank">
                               <img src="{{inner.outerRsideimg}}" alt="about us" style="width:100%;height:300px">
                              </a>
                           </div>
                         </div>
                   </td>
                   <td>
                       <div class="caption col-md-12">
                         <h4 class="iname">{{inner.outerRsideNme}}</h4>
                           <p>{{inner.outerRsideDes}} </p>
                         </div>
                   </td>
                  </tr>
                  <tr>
                          
                     <td>
                         <div class="caption col-md-12">
                           <h4 class="iname">{{inner.outerOptionalDescriptions}}</h4>
                            
                           </div>
                     </td>
                    </tr>
                   </tbody>
             </table>
                          
       </div>
     
   

 <div class="col-sm-12">
     <h3 class="namesCapos"> Locations Advantages </h3> 

      <div class="col-sm-12" *ngIf="laForm">
        <div class="col-sm-7  adforms bc">
                <h4> <b> Locations Advantages </b> </h4>
          </div>
          </div>
       <div class="col-sm-12"   *ngFor="let inner of locationsAdvanages">
         
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg1}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg1}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3 pull-right">
                   <p class="">{{inner.lAdvantagesName1}}</p>
              </div>
             </div>
           
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg2}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg2}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName2}}</p>
              </div>
             </div>
           
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg3}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg3}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName3}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg4}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg4}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName4}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg5}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg5}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName5}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg6}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg6}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName6}}</p>
              </div>
             </div>
           <!-- </li>


             <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg7}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg7}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName7}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg8}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg8}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName8}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg9}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg9}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName9}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg10}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg10}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName10}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg11}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg11}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName11}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg12}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg12}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName12}}</p>
              </div>
             </div>
           <!-- </li>


           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg13}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg13}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName13}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg14}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg14}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName14}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg15}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg15}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName15}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg16}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg16}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName16}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg17}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg17}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName17}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg18}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg18}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName18}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg19}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg19}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName19}}</p>
              </div>
             </div>
           <!-- </li>
           <li> -->
               <div class="col-sm-6">
              <div class="col-sm-3">
                 <a href="{{inner.lAdvantagesImg20}}" target="_blank">
                     <img src="{{inner.lAdvantagesImg20}}"  class="img-circle" alt="about us" style="width:100%">
                    </a>
              </div>
                  
                    
               <div class="col-3">
                   <p class="">{{inner.lAdvantagesName20}}</p>
              </div>
             </div>
           <!-- </li>
         </ul> -->
          
                          
       </div>


       <div class="col-sm-12">
           <h3 class="namesCapos"> Amenities </h3> 
    
            <div class="col-sm-12" *ngIf="amenities">
        </div>
  
             <div class="col-sm-12" *ngFor="let inner of AmenitiesGet">
               
                 <div class="col-md-4">
                     <div class="thumbnail">
                         <a href="{{inner.amenitiesImg1}}" target="_blank">
                             <img src="{{inner.amenitiesImg1}}"  class="img-circle" alt="about us" style="width:100%">
                             
                         <div class="caption">
                           <p>{{inner.amenitiesNames1}} </p>
                         </div>
                       </a>
                     </div>
                   </div>
                   <div class="col-md-4">
                       <div class="thumbnail">
                           <a href="{{inner.amenitiesImg2}}" target="_blank">
                               <img src="{{inner.amenitiesImg2}}"  class="img-circle" alt="about us" style="width:100%">
                               
                           <div class="caption">
                             <p>{{inner.amenitiesNames2}} </p>
                           </div>
                         </a>
                       </div>
                     </div>
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <a href="{{inner.amenitiesImg3}}" target="_blank">
                                 <img src="{{inner.amenitiesImg3}}"  class="img-circle" alt="about us" style="width:100%">
                                 
                             <div class="caption">
                               <p>{{inner.amenitiesNames3}} </p>
                             </div>
                           </a>
                         </div>
                       </div>
                       <div class="col-md-4">
                           <div class="thumbnail">
                               <a href="{{inner.amenitiesImg4}}" target="_blank">
                                   <img src="{{inner.amenitiesImg4}}"  class="img-circle" alt="about us" style="width:100%">
                                   
                               <div class="caption">
                                 <p>{{inner.amenitiesNames4}} </p>
                               </div>
                             </a>
                           </div>
                         </div>
                         <div class="col-md-4">
                             <div class="thumbnail">
                                 <a href="{{inner.amenitiesImg5}}" target="_blank">
                                     <img src="{{inner.amenitiesImg5}}"  class="img-circle" alt="about us" style="width:100%">
                                     
                                 <div class="caption">
                                   <p>{{inner.amenitiesNames5}} </p>
                                 </div>
                               </a>
                             </div>
                           </div>
                           <div class="col-md-4">
                               <div class="thumbnail">
                                   <a href="{{inner.amenitiesImg6}}" target="_blank">
                                       <img src="{{inner.amenitiesImg6}}"  class="img-circle" alt="about us" style="width:100%">
                                       
                                   <div class="caption">
                                     <p>{{inner.amenitiesNames6}} </p>
                                   </div>
                                 </a>
                               </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="thumbnail">
                                     <a href="{{inner.amenitiesImg7}}" target="_blank">
                                         <img src="{{inner.amenitiesImg7}}"  class="img-circle" alt="about us" style="width:100%">
                                         
                                     <div class="caption">
                                       <p>{{inner.amenitiesNames7}} </p>
                                     </div>
                                   </a>
                                 </div>
                               </div>
                               <div class="col-md-4">
                                   <div class="thumbnail">
                                       <a href="{{inner.amenitiesImg8}}" target="_blank">
                                           <img src="{{inner.amenitiesImg8}}"  class="img-circle" alt="about us" style="width:100%">
                                           
                                       <div class="caption">
                                         <p>{{inner.amenitiesNames8}} </p>
                                       </div>
                                     </a>
                                   </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="thumbnail">
                                         <a href="{{inner.amenitiesImg9}}" target="_blank">
                                             <img src="{{inner.amenitiesImg9}}"  class="img-circle" alt="about us" style="width:100%">
                                             
                                         <div class="caption">
                                           <p>{{inner.amenitiesNames9}} </p>
                                         </div>
                                       </a>
                                     </div>
                                   </div>
                                    <div class="col-md-4">
                     <div class="thumbnail">
                         <a href="{{inner.amenitiesImg10}}" target="_blank">
                             <img src="{{inner.amenitiesImg10}}"  class="img-circle" alt="about us" style="width:100%">
                             
                         <div class="caption">
                           <p>{{inner.amenitiesNames10}} </p>
                         </div>
                       </a>
                     </div>
                   </div>
                   <div class="col-md-4">
                       <div class="thumbnail">
                           <a href="{{inner.amenitiesImg11}}" target="_blank">
                               <img src="{{inner.amenitiesImg11}}"  class="img-circle" alt="about us" style="width:100%">
                               
                           <div class="caption">
                             <p>{{inner.amenitiesNames11}} </p>
                           </div>
                         </a>
                       </div>
                     </div>
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <a href="{{inner.amenitiesImg12}}" target="_blank">
                                 <img src="{{inner.amenitiesImg12}}"  class="img-circle" alt="about us" style="width:100%">
                                 
                             <div class="caption">
                               <p>{{inner.amenitiesNames12}} </p>
                             </div>
                           </a>
                         </div>
                       </div>
                       <div class="col-md-4">
                           <div class="thumbnail">
                               <a href="{{inner.amenitiesImg13}}" target="_blank">
                                   <img src="{{inner.amenitiesImg13}}"  class="img-circle" alt="about us" style="width:100%">
                                   
                               <div class="caption">
                                 <p>{{inner.amenitiesNames13}} </p>
                               </div>
                             </a>
                           </div>
                         </div>
                          <div class="col-md-4">
                     <div class="thumbnail">
                         <a href="{{inner.amenitiesImg14}}" target="_blank">
                             <img src="{{inner.amenitiesImg14}}"  class="img-circle" alt="about us" style="width:100%">
                             
                         <div class="caption">
                           <p>{{inner.amenitiesNames14}} </p>
                         </div>
                       </a>
                     </div>
                   </div>
                   <div class="col-md-4">
                       <div class="thumbnail">
                           <a href="{{inner.amenitiesImg15}}" target="_blank">
                               <img src="{{inner.amenitiesImg15}}"  class="img-circle" alt="about us" style="width:100%">
                               
                           <div class="caption">
                             <p>{{inner.amenitiesNames15}} </p>
                           </div>
                         </a>
                       </div>
                     </div>
                     <div class="col-md-4">
                         <div class="thumbnail">
                             <a href="{{inner.amenitiesImg16}}" target="_blank">
                                 <img src="{{inner.amenitiesImg16}}"  class="img-circle" alt="about us" style="width:100%">
                                 
                             <div class="caption">
                               <p>{{inner.amenitiesNames16}} </p>
                             </div>
                           </a>
                         </div>
                       </div>
                       <div class="col-md-4">
                           <div class="thumbnail">
                               <a href="{{inner.amenitiesImg17}}" target="_blank">
                                   <img src="{{inner.amenitiesImg17}}"  class="img-circle" alt="about us" style="width:100%">
                                   
                               <div class="caption">
                                 <p>{{inner.amenitiesNames17}} </p>
                               </div>
                             </a>
                           </div>
                         </div>
                         <div class="col-md-4">
                             <div class="thumbnail">
                                 <a href="{{inner.amenitiesImg18}}" target="_blank">
                                     <img src="{{inner.amenitiesImg18}}"  class="img-circle" alt="about us" style="width:100%">
                                     
                                 <div class="caption">
                                   <p>{{inner.amenitiesNames18}} </p>
                                 </div>
                               </a>
                             </div>
                           </div>
                           <div class="col-md-4">
                               <div class="thumbnail">
                                   <a href="{{inner.amenitiesImg19}}" target="_blank">
                                       <img src="{{inner.amenitiesImg19}}"  class="img-circle" alt="about us" style="width:100%">
                                       
                                   <div class="caption">
                                     <p>{{inner.amenitiesNames19}} </p>
                                   </div>
                                 </a>
                               </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="thumbnail">
                                     <a href="{{inner.amenitiesImg20}}" target="_blank">
                                         <img src="{{inner.amenitiesImg20}}"  class="img-circle" alt="about us" style="width:100%">
                                         
                                     <div class="caption">
                                       <p>{{inner.amenitiesNames20}} </p>
                                     </div>
                                   </a>
                                 </div>
                               </div>
                    
                     
                                
             </div>
   



       </div> 
   
       <div class="col-sm-12 ">
           <h3 class="namesCapos"> Over Views  </h3> 
            <div class="col-sm-12  adforms" *ngIf="overViewsForm">
       
 
</div>
         <div class="col-sm-12  change" *ngFor="let inner of overviewsGet">
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview1}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview2}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview3}} </h4>
           </div>

           <div class="col-sm-4 overviews">
               <h4> {{inner.overview4}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview5}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview6}} </h4>
           </div>


           <div class="col-sm-4 overviews">
               <h4> {{inner.overview7}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview8}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview9}} </h4>
           </div>

           <div class="col-sm-4 overviews">
               <h4> {{inner.overview10}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview11}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview12}} </h4>
           </div>

           <div class="col-sm-4 overviews">
               <h4> {{inner.overview13}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview14}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview15}} </h4>
           </div>

           <div class="col-sm-4 overviews">
               <h4> {{inner.overview16}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview17}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview18}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview19}} </h4>
           </div>
           <div class="col-sm-4 overviews">
               <h4> {{inner.overview20}} </h4>
           </div>

         </div>
   
       </div>





 </div> 
 </div>
</div>

<div class="col-sm-12 footerback">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="col-sm-8">
       
        <div class="col-sm-4">
         <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
     
          <h3>  Advertises  </h3>
        </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class="col-sm-4">
        <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
     
          <h3> Feedback   </h3>
      </a>
    </div>
      </div>
     <div class="col-sm-8 catas">
        <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                Animals  
        </a>
         /  
         <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
    
             Baby Care Centers  
        </a>
         /  
         <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
    
          Beauty Parlour   </a>
          /
         
         <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
    
            Dance   </a>
             / 
             <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
              Driving Schools  
           </a> 
           / 
             
           <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
               Fights Institutions 
           </a> 
           /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
              Fire Works  
           </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
      
               Function Halls 
          </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
      
               Furnitures  
          </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
      
             GYM  
          </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
              Hostels 
          </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
             Indoor Games  
           </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
        
              Marriage Bureaus  
          </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
    
               Music  Institutions
          </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
              Outdoor Games  
           </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
      
             Plants  
          </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
               Packers and Movers  
           </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
               Professional Insitutions  
           </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
      
             Real Estate 
          </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
    
              Restaurants  
          </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
    
       Swimming Pools  
          </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
               Tutions  Centers  
          </a>
        
     </div>
     <div class="col-sm-8 locationcs">
       <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
     </div>

     <div class="col-sm-6">
      
      <h3> Keep in touch </h3>
      <div class="col-sm-2">
        <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
    </a>
</div>

<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>


      </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
    </div>
  </div>