 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>
      
<div class="col-sm-8  kk"    (click)="onSelectDish(servicesOnes)">
 
    <h3 class="ss text-center"> {{servicesOnes.foodType1}}</h3>
    <img src="{{servicesOnes.images}}"  class="img-thumbnail"  style="width:100%;height:400px">
 
</div>
<div class="col-sm-12 dishes">
<div class="col-sm-6 kk" *ngFor="let up of dishTypeGets" (click)="onSelectItemTypes(up)">

    <h4 class="dishT"><span class="cats">{{selectDishName}}</span> /  {{up.foodDish}}  </h4>
   
    <img src="{{up.images}}"  class="img-thumbnail"  style="width:100%;height:300px">
</div>
</div>
<div class="col-sm-12">
<div class="col-sm-5 dname" *ngFor="let up of selectItemsTwoGets" (click)="onClickMasteritems(up)">
    <h4 class="dnames"><span class="cats"> {{selectDishName}} </span> / <span class="cat">{{selectFoodItemsName}} </span> </h4>

    <img src="{{up.images}}"  class="img-thumbnail"  style="width:100%;height:300px">
    <h4 class="listm"> {{up.foodType1}}    </h4>
</div>
</div>

<div class="col-sm-12">
<ul>
        <h2>  List Of Menu For   <span class="cats"> {{selectDishName}} </span>   / <span class="catsn">{{selectFoodItemsName}} </span>/<span class="catsns"> {{masterName}} </span> </h2>

    <li *ngFor="let up of mainSelectItemGets ; index as i"> {{i+1}} . {{up.foodName}} </li>
</ul>
</div>
<div class="col-sm-12 menulist" *ngFor="let up of mainSelectItemGets">
   
<div class="col-sm-5">
    <img src="{{up.images}}"  class="img-thumbnail"  style="width:100%;height:300px">

</div>
<div class="col-sm-7">
    <h4 class=" "><b>food Name :</b> {{up.foodName}}    </h4>
    <h4 class=" "><b>food Type :</b> {{selectDishName}}   </h4>
    <h4 class=" "><b>food Catageries :</b> {{up.foodCat}}   </h4>
    <h4 class=" "><b>food Quantity :</b> {{up.foodQuantity}}   </h4>
    <h4 class=" "><b>food Price :</b> {{up.foodPrice}}   </h4>
    <h4 class=" "><b>food Descriptions : </b><span class=""> {{up.foodDescriptions}} </span>  </h4>
    <h4 class=" "><b>food Advantages : </b> <span class="">{{up.foodAdvantages}} </span>  </h4>
    <h4 class="ffffg tt"><b>chef Master :</b> {{up.chefMasterName}}   </h4>
    <h4 class="ffffg tt"><b>Years Of Exp :</b> {{up.YearsOfExp}}   </h4>
</div>
    

</div>
