.dishT{background-color: green; padding: 12px; cursor: pointer; color: white; text-align: center;}
.dishT:hover{background-color: rgba(0, 128, 0, 0.904); padding: 12px; cursor: pointer; color: white; text-align: center;}
.ffffg{color: red}

.ss{ background-color: rgb(223, 52, 52);  color: white;  text-align: center;  padding: 20px;cursor: pointer;}
.ss:hover{ background-color: brown;color: rgb(255, 255, 255);  text-align: center;padding: 20px;cursor: pointer;}
.dishes{background-color: #c8f1c7; padding: 40px;}
.dnames{    background-color: blue; text-align: center; color: white; padding: 12px;}
.dname{background-color: #8a2be245;  cursor: pointer;}
.catsn{color:green}   
.catsns{color:blue}
.cat{color: #121312;}
.cats{color:red}
.kk{cursor: pointer;}
.menulist{background-color: #0000ff3b;padding: 15px; margin-bottom: 12px;}
.listm{ font-weight: bolder; text-align: center; color: blue;}
.tt{text-transform:capitalize}