 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
<div class="catog">
  <div class="bgshostel">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 bghostels">
      
                
                <h2 class="cnames"> {{furnitureuser.shopname}} </h2>    
                <div class="col-sm-12 bgimg">
                    <img src="{{furnitureuser.images1}}" alt="about us" style="width:100%;height:500px"> 
                
                </div>
      <h4> over all view </h4>
      <ul class="overllview">
         
          <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> about us </span> 
               
              </a> 
          </li>
          <li class="fontsize"> <a href="#iamges" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> images </span> 
                   
                 </a> 
             </li>
            
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> timings </span> 
                   
                 </a> 
             </li>
             
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> our product details to you </span> 
                   
                 </a> 
             </li>
             
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right">   information to public </span> 
                   
                 </a> 
             </li>

             
             <li class="fontsize"> <a href="#address" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Address</span> 
                 
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> contact informations</span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> our updates </span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#com" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> leave comments </span> 
                 </a> 
             </li>
          </ul>
           </div>
          </div>
          </div>
          </div>
          <hr/>
  
  
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                  <div class="col-sm-12 timings">
                      <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
  <ul>
    <li class="nones"> {{furnitureuser.mon}} </li>
    <li class="nones"> {{furnitureuser.tue}} </li>
    <li class="nones"> {{furnitureuser.wed}} </li>
    <li class="nones"> {{furnitureuser.thu}}  </li>
    <li class="nones"> {{furnitureuser.fri}} </li>
    <li class="nones"> {{furnitureuser.sat}} </li>
    <li class="nones"> {{furnitureuser.sun}}  </li>
    <li class="nones noness"> {{furnitureuser.totaltiming}}  </li>
  </ul>
  <hr/>
                  </div>
                
                  <div class="col-sm-12 images">
                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                    <hr/>       
                   
                    
                    <ul>
                      
                <li class="nones col-sm-12 addimgs"> <a href="{{furnitureuser.images1}}" target="_blank"><img src="{{furnitureuser.images1}}" alt="about us" style="width:100%">  </a></li>
                <li class="nones col-sm-12 addimgs"> <a href="{{furnitureuser.images2}}" target="_blank">  <img src="{{furnitureuser.images2}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs">    <a href="{{furnitureuser.images3}}" target="_blank"><img src="{{furnitureuser.images3}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"><a href="{{furnitureuser.images4}}" target="_blank"><img src="{{furnitureuser.images4}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"> <a href="{{furnitureuser.images5}}" target="_blank"> <img src="{{furnitureuser.images5}}" alt="about us" style="width:100%"> </a> </li>
       
     
                      </ul>
                    </div>
                    <hr/>
                    <div class="col-sm-12 e addes">
  
                        <h4 class="ads"> Address </h4> 
                        <hr/>
                        <div class="col-sm-12 cons addresscap">
                           H No:{{furnitureuser.hno}} , {{furnitureuser.area}},{{furnitureuser.landmark}},{{furnitureuser.city}}
                            
                            {{furnitureuser.distict}},
                            {{furnitureuser.state}},
                            {{furnitureuser.pincode}}
                      </div>
        
                    </div>
                 
                    <div class="col-sm-12 e addes">
                        <h4 class="ads"> Contact informations </h4> 
                        <hr/>
                        <div class="col-sm-12 cons">
  <p>  
      <span class="glyphicon glyphicon-phone-alt"> office no: {{furnitureuser.officeno}} 
      
  </span>
   </p>
                              <br>
    <p> 
         <span class="glyphicon glyphicon-earphone">
               Mobile No: {{furnitureuser.mobileno}} 
        </span></p>
                                <br>
            <p> <i class="fa fa-whatsapp" aria-hidden="true">
                 whatsapp No: {{furnitureuser.whatsappno}} </i></p>
                                                          <br>
                           <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{furnitureuser.email}} </i>
                             
                            </p> 
                              <br>
                              <i class="fa fa-globe" aria-hidden="true"></i>
                              other ref website: <p>{{furnitureuser.refone}}</p>
                              <p>{{furnitureuser.reftwo}}</p>
                              <p>{{furnitureuser.refthree}}</p>
                        </div>
  
                      </div>
                  </div>
  
                  <div class="col-sm-9 mains">
                      
  <div class="col-md-12">
      <p class="mainames"> About Us </p>
      <img src="{{furnitureuser.images1}}" style="width:20%;height:120px" class="pull-left img-thumbnail profilepic img-responsive">
      <p> <b> name: </b> <span class="names">{{furnitureuser.name}}</span> </p>
      
  <p class="mainprog">
        {{furnitureuser.aboutusdescriptionone}}  
       <br>
     <span class="profpag">        {{furnitureuser.aboutusdescriptiontwo}}  
            .</span>
           
      </p>
       
      <hr/>
  </div>
 
<div class="col-md-12 mainss">
        <h6 class="mainames"> <b>   information to public : </b></h6>

        <p class="mainprog">
              {{furnitureuser.informationtopublic}} 
     <br>
   
    </p>
    </div>
        <hr/>
   

  <div class="col-md-12 mainss">
          <h6 class="mainames"> <b> our product details to you : </b></h6>
                
                <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{{furnitureuser.images3}}" alt="Los Angeles" style="width:100%;height:500px">
                    </div>
              
                    <div class="item">
                      <img src="{{furnitureuser.images4}}" alt="Chicago" style="width:100%;height:500px">
                    </div>
                  
                    <div class="item">
                      <img src="{{furnitureuser.images5}}" alt="New york" style="width:100%;height:500px">
                    </div>
                  </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              
   <div class="col-sm-12">
      <div class="col-sm-5">
          <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{furnitueTypeName}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="locationsdrops" *ngFor="let get of furnitureTypeGetss" (click)="furnitureClick(get)">{{get.furnitureType}}</li>
                </ul> 
 </div>
  <div class="col-sm-12 productsDiv" *ngFor="let pro of products">
    <div class="col-sm-12"  (click)="productsCustomersClicks(pro)">
        <div class="col-sm-4 productsSubDiv">
            <img src="{{pro.images}}" alt="New york" style="width:100%;height:200px">
        
          </div>
          <div class="col-sm-7">
            <h6 class="mainame"> <b class="mainames"> Product Name : </b>  {{pro.name}}  </h6>
             <p class="mainame"> <b class="mainames"> Product Description : </b>{{pro.productDescription}}: </p>
            <h6 class="mainame"> <b class="mainames"> Price : {{pro.price}} </b></h6>
          </div>
    </div>
  </div>
</div>
      </div>
        </div>
              <hr/>
             
<!-- ********************************************** updates ******************************************** -->
<div class="col-sm-8  col-sm-offset-3">
        <div class="col-sm-12">
          <h5> <b> Our Updates ({{usersUpdatesCounts}})</b>
             
          </h5>
           
              <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                 <div class="col-sm-12">
                     <p> Posted ON : {{item.createdAt | date: 'dd/MM/yyyy'}}  </p>
                     <!-- <div *ngIf="items.images || items.viedoes"> -->
                      <a href="{{item.images}}" target="_blank"> 
                           <img src="{{item.images}}" alt="about us" style="width:100%"></a>
                          
                    <div class="col-sm-12 viedoes">

                    <video width="100%" height="400px" controls>
                            <source src="{{item.viedoes}}" type="video/mp4">
                            
                           </video>
                          </div>
                        <!-- </div> -->
                        <h4> {{item.title}} </h4>
                     <h6> {{item.descriptions}} </h6>
                    <p> <span class="times"> {{item.createdAt  | date: "shortTime"}} </span>  </p>  
  
                 </div>
  
        <div class="col-sm-12" >         
      <hr/>
       
       
      <!-- <div class="col-sm-3 lsc" (click)="showicons()">
          <div class="col-sm-12">
              <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                share </p>
                      
          </div>
          </div> -->
          
          <div class="col-sm-4 comentshow" >
              <p class="lsc" (click)="showcomments(item)"> {{adminsupdateCommentsCounts}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
               <span class=""> comments </span> 
            </p>
          </div>  
          <div class="col-sm-12 consts">
          <div class="col-sm-12 comentssuboit" *ngIf="shows">
        
              <mat-form-field class="example-full-width">
                  <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="updatesCommentsdata.descriptions" name="descriptions" ></textarea>
                </mat-form-field>
                <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>


                <div class="col-sm-12">
 
                        <a  class="replyses" (click)="updatestoAdmincommentsget(item._id)"><b> view comments({{adminsupdateCommentsCounts}}) </b></a> 
                    </div>

                    <div class="col-sm-12" *ngIf="showes && commentsUpdatesId == item._id">

                             
                             

                                  <li *ngFor="let items of  adminsupdateComments" class="commm">
                                      <h6> 
                                        <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>      
                                       
                                          <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                        {{items.descriptions}}  </h6>
                                        
                                   
                                        <br/>
                                        <b>{{items.createdAt  | date: "shortTime"}}   </b>
                                      <br/>
                                        <a class="replyses" (click)="updatesAdminReply(items._id)">
                                          <b> reply from <span class="replys">
                                            {{furnitureuser.name}}:</span> </b></a>
                            
                           <div *ngIf="showess && selectedblogIds == items._id" class="u">

                              <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                  <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  

                                <img src="{{furnitureuser.images2}}" class="img-circle" alt="about us" style="width:4%">
                                 <h6> {{replys.descriptions}} </h6> 
                                 <br/>
                                 <b>{{items.createdAt  | date: "shortTime"}}   </b> 
                                </ul> 
                            </div>      
                          
                                   </li>
                                         
                                    </div>
          </div>
          <div class="col-sm-12 proc" *ngIf="show">
                <div class="col-sm-1">
                        <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                    </a>
                </div>
                    
                      <div class="col-sm-1">
                              <a href="https://www.whatsapp.com/" target="_blank">
                          <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                              </a>
                    </div>
                       <div class="col-sm-1">
                         <a href="https://plus.google.com/discover" target="_blank">
                         <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                       </div>
           <div class="col-sm-1"> 
               <a href="https://twitter.com/login" target="_blank">
                 <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
           </div>
         <div class="col-sm-1"> 
            <a href="https://www.instagram.com/accounts/login/" target="_blank">
              <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
           </div>
          </div>
         
          </div>
         
        </div>

    </div> 
    </div>
    </div>                         
 
       
        
      
         
  
              <!-- **************** com ************* -->
      
            <div class="container-fluid">
                  <div class="row">
                          <div class="col-sm-8 col-sm-offset-2 comments">
                            <h4 class="aboutu"> Leave your comments </h4> 
                            <hr/>  
                              <div class="col-sm-10 col-sm-offset-2">
                                <form class="example-form">
                                    <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Name" [(ngModel)]="comments.name" name="comments">
                                    </mat-form-field>
                                    </div>
      
                                    <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Id" [(ngModel)]="comments.email" name="email">
                                      </mat-form-field>
                                      </div>
      
                                      <div class="col-sm-12">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Contact No" [(ngModel)]="comments.contactNo" name="contact">
                                        </mat-form-field>
                                        </div>
      
                                        <div class="col-sm-12">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Leave a comment" [(ngModel)]="comments.leaveComment" name="leaveComment"></textarea>
                                          </mat-form-field>
                                        </div>
                                        
                                        <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>

                                    </form>
                            </div>  
      
                           </div>
                        </div>
      </div> 
    

      <div class="col-sm-12 footerback">
          <div class="col-sm-8 col-sm-offset-3">
            <div class="col-sm-8">
              <!-- <div class="col-sm-4">
                <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
          
                   <h3> About Us </h3>
               </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              </div> -->
              <div class="col-sm-4">
               <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
           
                <h3>  Advertises  </h3>
              </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            <div class="col-sm-4">
              <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
           
                <h3> Feedback   </h3>
            </a>
          </div>
            </div>
           <div class="col-sm-8 catas">
              <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                      Animals  
              </a>
               /  
               <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
          
                   Baby Care Centers  
              </a>
               /  
               <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
          
                Beauty Parlour   </a>
                /
               
               <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
          
                  Dance   </a>
                   / 
                   <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                    Driving Schools  
                 </a> 
                 / 
                   
                 <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                     Fights Institutions 
                 </a> 
                 /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                    Fire Works  
                 </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
            
                     Function Halls 
                </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
            
                     Furnitures  
                </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
            
                   GYM  
                </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                    Hostels 
                </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
                   Indoor Games  
                 </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
              
                    Marriage Bureaus  
                </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
          
                     Music  Institutions
                </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                    Outdoor Games  
                 </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
            
                   Plants  
                </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                     Packers and Movers  
                 </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                     Professional Insitutions  
                 </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
            
                   Real Estate 
                </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
          
                    Restaurants  
                </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
          
             Swimming Pools  
                </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
          
                     Tutions  Centers  
                </a>
              
           </div>
           <div class="col-sm-8 locationcs">
             <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
           </div>
      
           <div class="col-sm-6">
            
            <h3> Keep in touch </h3>
            <div class="col-sm-2">
              <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
          <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
          </a>
      </div>
      
    <div class="col-sm-2"> 
    <a href="https://twitter.com/yestelanganase1" target="_blank">
    <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
    </div>
    <div class="col-sm-2"> 
    <a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
    <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
    </div>
    
      
            </div>
      <div class="col-sm-8 ">
      <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
      </div>
          </div>
        </div> 

























       