 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>
<div class="catog">
  <div class="bgshostel">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 bghostels">
      
                
                  <h2 class="cnames"> {{proDetailsClients.instName}} </h2>    
                  <div class="col-sm-12 bgimg">
                      <img src="{{proDetailsClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                  
                  </div>
      
      <h4> over all view </h4>
      <ul class="overllview">
         
          <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> About Us </span> 
               
              </a> 
          </li>
          <li class="fontsize"> <a href="#iamges" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> Images </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Timings </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Team </span> 
                   
                 </a> 
             </li>
             <li class="fontsize"> <a href="#payments" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> Our Services </span> 
                 
               </a> 
           </li>
           <li class="fontsize"> <a href="#payments" data-toggle="tab">
            <span class="glyphicon glyphicon-hand-right"> Our Fecilities </span> 
               
             </a> 
         </li>
            
             <li class="fontsize"> <a href="#address" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Address</span> 
                 
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Contact Informations</span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#cont " data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                  
                 </a> 
             </li>
             <li class="fontsize"> <a href="#com" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Leave Comments</span> 
                 
                 </a> 
             </li>
          </ul>
          
          <hr/>
         
          </div>
          </div>
          </div>
          </div>
   <!-- *********************about us*********************** -->
   <div class="bgimgses">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 mains">
  
              
  <div class="col-md-12">
  <img src="{{proDetailsClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
    
  <hr/>
  </div>
  </div>
  <div class="col-sm-6 mains">
  
      
  <div class="col-md-12">
      <p class="aboutus"> About Us  </p>
      <div class="col-sm-12" *ngFor="let about of aboutUsDetai">
            <p class="aboutuso">  {{about.aboutUsDescriptionsOne}}</p>
            <p class="aboutust"> {{about.aboutUsDescriptionsTwo}} </p>
      </div>
  <hr/>
  <h3 class="aboutusts"> <b> {{proDetailsClients.name}} </b></h3>
  <hr/>
  </div>
  </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
          <div class="col-sm-12 timings tt">
              <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
<ul>
<li class="nones"> {{proDetailsClients.day1}} </li>
<br/>
<li class="nones"> {{proDetailsClients.day2}} </li><br/>
<li class="nones"> {{proDetailsClients.day3}} </li><br/>
<li class="nones"> {{proDetailsClients.day4}} </li><br/>
<li class="nones"> {{proDetailsClients.day5}} </li><br/>
<li class="nones"> {{proDetailsClients.day6}} </li><br/>
<li class="nones"> {{proDetailsClients.day7}} </li><br/>
<li class="nones"> Hours of Operations : <span class="timing"> {{proDetailsClients.allTimes}} </span> </li>
</ul>
<hr/>
          </div>
        
            <hr/>
            <div class="col-sm-12 e addes">

                <h4 class="ads"> Address </h4> 
                <hr/>
                <div class="col-sm-12 cons addresscap">
                   H No:{{proDetailsClients.houseNo}} , {{proDetailsClients.subArea}},{{proDetailsClients.landmark}},{{proDetailsClients.city}}
                   {{proDetailsClients.distict}},
                    {{proDetailsClients.state}},
                    {{proDetailsClients.pincode}}
              </div>

            </div>
         
            <div class="col-sm-12 e addes">
                <h4 class="ads"> Contact informations </h4> 
                <hr/>
                <div class="col-sm-12 cons">
<p>  
<span class="glyphicon glyphicon-phone-alt"> office no: {{proDetailsClients.officeNo}} 

</span>
</p>
                      <br>
<p> 
 <span class="glyphicon glyphicon-earphone">
       Mobile No: {{proDetailsClients.mobileNo}} 
</span></p>
                        <br>
    <p> <i class="fa fa-whatsapp" aria-hidden="true">
         whatsapp No: {{proDetailsClients.whatsupno}} </i></p>
                                                  <br>
                   <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{proDetailsClients.emailId}} </i>
                     
                    </p> 
                      <br>
                      
                </div>

              </div>
          </div>
<div class="col-sm-9 divb" *ngFor="let about of aboutUsDetai">
<div class="col-sm-12">
<h2> Our Team Members </h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>

        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{{about.managmentTeamImg1}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
          </div>
    
          <div class="item">
            <img src="{{about.managmentTeamImg2}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
          </div>
        
          <div class="item">
            <img src="{{about.managmentTeamImg3}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
          </div>
          <div class="item">
            <img src="{{about.managmentTeamImg4}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> 
  </div>
  <div class="col-sm-12">
        <h4 class="tt"><b> Managment Teams : </b><span class="teams"> {{about.managmentTeams}} </span></h4>
        <h4 class="teams"><b> About Managment Teams 1  : </b> <span>    {{about.managmentTeams1}}    </span></h4>
        <h4 class="teams"><b> About Managment Teams 2   : </b> <span>    {{about.managmentTeams2}}   </span></h4>
        <h4 class="teams"><b> About Managment Teams 3 : </b> <span>    {{about.managmentTeams3}}   </span></h4>
        <h4 class="teams"><b> About Managment Teams 4 : </b> <span>    {{about.managmentTeams4}}   </span></h4>
        <h4 class="teams"><b> About Managment Teams  : </b> <span>    {{about.managmentTeamsDecriptionsOne}} 
             <br/> {{about.managmentTeamsDecriptionsTwo}} </span></h4>
     
  </div>
     <div class="col-sm-12">
         <h2 class="tt"> Our Vision & Mission </h2>
         <img src="{{about.visonMissionImg}}" style="width:100%;height:500px" class="img-thumbnail img-responsive">
         <h4 class="tt"><b> {{about.visonMissionTitle}} </b> </h4>
<p> {{about.visonMissionDescriptionsOne}}   </p>
<p> {{about.visonMissionDescriptionsTwo}}   </p>
     </div>
     
</div>
<div class="col-sm-12" *ngFor="let about of getPhilosophyd">
        <h2 class="tt">   Our Philosophy </h2>
         <h4 class="tt"><b> {{about.mainTitle}} </b> </h4>
<p> {{about.descriptionsOne}}   </p>
<p> {{about.descriptionsTwo}}   </p>
<p> <b> Note : </b> <span class="impnote"> {{about.importantNote}} </span> </p>
    </div>
    <div class="col-sm-12" *ngFor="let about of getWhyInst">
            <h2 class="tt">   Why This Institute </h2>
            <div class="col-sm-12">
                <img src="{{about.images}}" style="width:100%;height:500px" class="img-thumbnail img-responsive">

            </div>
<div class="col-sm-12">
  <div class="col-sm-12">
      <h2 class="tt">  {{about.mainTtitle}}   </h2>
  </div>
     <h5> {{about.titleDescriptions}}   </h5>
    <h5> {{about.subTtitle}} </h5>
    <p> {{about.subTtitleDescriptions}}   </p>
    <p> {{about.subTtitleDescriptionsOne}}   </p>
    <p> {{about.subTtitleDescriptionsTwo}}   </p>
    <p> {{about.subTtitleDescriptionsThree}}   </p>
    <p> {{about.subTtitleDescriptionsFour}}   </p>
</div>
      </div>

      <div class="col-sm-12" *ngFor="let about of getinfraStructures">
            <h2 class="tt">   {{about.title}} </h2>
            <div class="col-sm-12">
                <img src="{{about.images}}" style="width:100%;height:500px" class="img-thumbnail img-responsive">
          </div>
  <div class="col-sm-12"> 
     <h5> {{about.descriptionsOne}}   </h5>
    <h5> {{about.descriptionsTwo}} </h5>
  </div>
      </div>

    
  
      <div class="col-sm-12" *ngFor="let about of getboardsDirector">
          <h2 class="tt">   {{about.mainTitle}} </h2>
          <div class="col-sm-5">
              <img src="{{about.directorImg}}" style="width:100%;height:300px" class="img-thumbnail img-responsive">
              <h5> {{about.name}}   </h5>
        </div>
  <div class="col-sm-7"> 
   <h5> {{about.aboutDirector}}   </h5>
   <p> <b> Note : </b> <span class="impnote"> {{about.importantNote}} </span> </p>
  </div>
    </div>
  
    <div class="col-sm-12" *ngFor="let about of getAwardsAndReward">
        <h2 class="tt">   {{about.mainTitle}} </h2>
        <div class="col-sm-6">
            <img src="{{about.images}}" style="width:100%;height:500px" class="img-thumbnail img-responsive">
      </div>
  <div class="col-sm-6"> 
  <h5> {{about.descriptions}}   </h5>
   </div>
  </div>
  
   
  

</div>
</div>

<div class="col-sm-12">
  <div class="col-sm-12">
      {{proDetailsClients.servicesDescriptionsOne}}  
  </div>
  <div class="col-sm-12">
    {{proDetailsClients.servicesDescriptionsTwo}}  
</div>
</div>

<div class="col-sm-12">
        <div class="col-sm-12" *ngFor="let about of getcatageriesOnesMain">
            <div class="col-sm-12 g" (click)=" catOneMain(about)">
                    <h2 class="titlt"> {{about.courseName}}  </h2>
                    <img src="{{about.images}}" style="width:100%;height:300px;" class="img-thumbnail img-responsive">
                    <p> {{about.descriptions}}  </p>
            </div>
            <div class="col-sm-12" *ngIf="catOneNameIdMain == about._id">

            <div class="col-sm-12" *ngFor="let about of getcatageriesTwosMain">
                    <div class="col-sm-12 k" (click)=" catTwoMain(about)">
                    <h2 class="titlt"> {{about.catageriesOne}}  </h2>
                    <img src="{{about.images}}" style="width:100%;height:300px;" class="img-thumbnail img-responsive">
                    <h5 class="titlts"> {{about.subCourseName}}  </h5>
                    <p> {{about.descriptions1}}  </p>
                    <p> {{about.descriptions2}}  </p>
            </div>
            <div class="col-sm-12 boxshaves">
                    <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       {{trackrecordsNameMain}} <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                         <li class="locationsdrops insidecap" *ngFor="let get of getTrackRecordsYearMain" (click)="yearsClickMain(get)">{{get.yearOfSelection}}</li>
                     </ul> 
                 </div>
                 <h2> OUR BRANCHES </h2>
                 <div class="col-sm-12" *ngFor="let about of getBrancheMain">
                     <div class="col-sm-5" (click)="branchClickMain(about)">
                            <h5 class="locations"> {{about.branchName}}  </h5>
                            <img src="{{about.branchImage}}" style="width:100%;height:300px;" class="img-thumbnail img-responsive">
                            <h5 class=" "> {{about.houseNo}} {{about.streetNo}} {{about.area}} {{about.city}} {{about.state}} {{about.picode}} {{about.picode}} </h5>
                            <h5 class=" "> {{about.contactNo}}  </h5>
                           
                     </div>
                       <div class="col-sm-7" *ngIf="branchNameIdMain == about._id">
                            <div class="col-sm-12 secondhead">
                                    <h2 class="mainHeadings"> Syllabus Details </h2>
                                     <div class="col-sm-12" *ngFor="let about of syllabusDetailsGetsMain">
                                         <div class="col-sm-12" (click)="syllabusDetailsMainClick(about)">
                                                 <h4> {{about.mainTitle}} </h4>
                                                 <h5> {{about.simpleText}}  </h5>
                                                <h5> {{about.subTitle}}  </h5>
           
                                         </div>
                                             <div class="col-sm-12" *ngFor="let about of syllabusTwoDetailsGetsMain">
         <ul>
             <li> {{about.syllabusDescriptions1}}  </li>
             <li> {{about.syllabusDescriptions2}}  </li>
             <li> {{about.syllabusDescriptions3}}  </li>
         </ul>
                                             </div>


                                        </div>
                                </div>
                          
                       
                          
                            <div class="col-sm-12">
                                <h2 class="mainHeadings"> Eligibily Details </h2>
                                 <div class="col-sm-12" *ngFor="let about of elegibilitiesGetsMain">
                                     <div class="col-sm-12">
                                             <h2> {{about.mainTitle}} </h2>
                                             <h5> {{about.subTitle}}  </h5>
                                            <h5> {{about.mainTitleDescriptionsOne}}  </h5>
                                            <h5> {{about.mainTitleDescriptionsTwo}}  </h5>
                                            <p> {{about.descriptionsTitle1}}  </p>
                                            <p> {{about.descriptionsTitle2}}  </p>
                                            <p> {{about.descriptionsTitle3}}  </p>
                                            <ul>
                                                <li>{{about.descriptionsImportantPoints1}} </li>
                                                <li>{{about.descriptionsImportantPoints2}} </li>
                                                <li>{{about.descriptionsImportantPoints3}} </li>
                                            </ul>
                                            <p> {{about.descriptions1}}  </p>
                                            <p> {{about.descriptions2}}  </p>
                                            <p> {{about.descriptions3}}  </p>
                                            <p> <b> Note 1 : </b> <span class="impnote"> {{about.note1}} </span> </p>
                                            <p> <b> Note 2 : </b> <span class="impnote"> {{about.note2}} </span> </p>
                                     </div>
                                          
                                    </div>
                            </div>
                         


                            <div class="col-sm-12">
                                    <h2 class="mainHeadings"> Important Organization Details </h2>
                                     <div class="col-sm-12">
                                         <div class="col-sm-12">
                                                <table class="table table-bordered">
                                                        <thead>
                                                          <tr>
    
                                                            <th>Sl no</th>
                                                            <th>Organization Details</th>
                                                            <th>Age Limit</th>
                                                            <th> No Of Attempts </th>
                                                            <th>Basic Qualifications Details </th>
    
                                                           </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr *ngFor="let about of organizationsGetsMain; index as i">
                                                            <td>{{i+1}} </td>
                                                            <td>{{about.organizationName}} </td>
                                                            <td>{{about.noOfAttempts}} </td>
                                                            <td>{{about.ageLtms}} </td>
                                                            <td>{{about.basicQualificationalDetails}}
                                                                
                                                            </td>
    
    
                                                            <td><ul>
                                                                <li>{{about.descriptions1}}</li>
                                                                <li>{{about.descriptions2}}</li>
                                                                <li>{{about.descriptions3}}</li>
                                                                <li>{{about.descriptions4}}</li>
                                                            </ul>
                                                            </td>
                                                            </tr>
                                                           </tbody>
                                                      </table>
                                             </div>
                                              
                                        </div>
                                </div>
                                <div class="col-sm-12">
                                        <h2 class="mainHeadings"> Important Notification Details ( {{importantNotificationsGetsMainc}}) </h2>
                                         <div class="col-sm-12"  *ngFor="let about of importantNotificationsGetsMain">
                                            <h6> Posted On : <b> {{about.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{about.createdAt  | date: "shortTime"}}   </b> </h6>        
        
                                            <h2> {{about.mainTitle}}  </h2>
                                             <h5> {{about.subTitle}}  </h5>
                                            <p> {{about.descriptionsOne}}  </p>
                                            <p> <b> Note  : </b> <span class="impnote"> {{about.note}} </span> </p>
                                          </div>
                                  </div>
                                  <div class="col-sm-12">
                                        <h2 class="mainHeadings">  Our Materials  Details  </h2>
                                         <div class="col-sm-12"  *ngFor="let about of getMaterialMain">
                                            <h6> Posted On : <b> {{about.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{about.createdAt  | date: "shortTime"}}   </b> </h6>        
                                            <h2> {{about.mainTitle}}  </h2>
                                            <img src="{{about.images}}" style="width:100%;height:300px;" class="img-thumbnail img-responsive">
                                               <h5> {{about.subTitle}}  </h5>
                                               <ul><li> {{about.descriptions}}  </li> </ul>  
                                           </div>
                                  </div>

                                  <div class="col-sm-12">
                                        <h2 class="mainHeadings"> New Batches  Details  </h2>
                                         <div class="col-sm-12"  *ngFor="let about of getnewBatchMains">
                                            <h6> Posted On : <b> {{about.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{about.createdAt  | date: "shortTime"}}   </b> </h6>        
                                           <div class="col-sm-4">
                                                <div class="col-sm-12">
                                                        <img src="{{about.demoLectureImg}}" style="width:100%;height:130px;" class="img-thumbnail img-responsive">
                                                    
                                                     </div>                                           
                                           <div class="col-sm-12  mainssd">
                                                <h3> {{about.demoLectureName}}  </h3>
                                           </div>
                                           </div>
                                           <div class="col-sm-8 lec">
                                                <h5 class="mainssd"> {{about.demoLectureIntro}}  </h5>

                                                <h3 class="lec">  {{about.locations}}  </h3> 
                                                <h5> {{about.demoCode}}  </h5> 
                                              <h5> {{about.demoTiming}}  </h5> 
                                              <h5> {{about.demoName}}  </h5> 
                                              <h5> {{about.demoDate}}  </h5> 
                                              <h5> {{about.BatchDuration}}  </h5> 
                                              <h5> {{about.EndDate}}  </h5> 
                                           </div>
                                             
                                                
                                           </div>
                                  </div>
                                  <div class="col-sm-12">
                                        <h2 class="mainHeadings">  Our Admissions  Details  </h2>
                                         <div class="col-sm-12"  *ngFor="let about of admissionsGetsMain">
                                            <h6> Posted On : <b> {{about.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{about.createdAt  | date: "shortTime"}}   </b> </h6>        
                                            <h2> {{about.mainTitle}}  </h2>
                                                <h5> {{about.admissionProcessType}}  </h5>
                                                <h5> {{about.necessaryRequireTitle}}  </h5>
                                                <h5> {{about.necessaryRequire1}}  </h5>
                                                <h5> {{about.necessaryRequire2}}  </h5>
                                                <h5> {{about.necessaryRequireDescription1}}  </h5>
                                                <h5> {{about.necessaryRequireDescription2}}  </h5>
                                                <h5> {{about.mainDescriptions}}  </h5> 
                                                <p> <b> Note1  : </b> <span class="impnote"> {{about.impNote1}} </span> </p>
                                                <p> <b> Note2  : </b> <span class="impnote"> {{about.impNote2}} </span> </p>
              
                                              </div>
                                  </div>


                    <div class="col-sm-12" *ngFor="let about of freeStructureGetsMain">
                            <h2 class="mainHeadings"> Free Structure Details </h2>
                            <h2 class=""> {{about.mainTitle}} </h2>
                            <h3 class="resss">  {{about.batchName}}  </h3>
                             <div class="col-sm-12">
                                 <div class="col-sm-12">
                                        <table class="table table-bordered">
                                                <thead>
                                                  <tr class="subtitile">
       
                                                    <th>{{about.subtitle1}}</th>
                                                    <th>{{about.subtitle2}}</th>
                                                    <th>{{about.subtitle3}}</th>
                                                    <th>{{about.subtitle4}}</th>
                                                    <th>{{about.subtitle5}}</th>
                                                    <th>{{about.subtitle6}}</th>
                                                    <th>{{about.subtitle7}}</th>
                                                    <th>{{about.subtitle8}}</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    
                                                    <td>{{about.subtitleText1}} </td>
                                                    <td>{{about.subtitleText2}} </td>
                                                    <td>{{about.subtitleText3}} </td>
                                                    <td>{{about.subtitleText4}}  </td>
                                                    <td>{{about.subtitleText5}} </td>
                                                    <td>{{about.subtitleText6}} </td>
                                                    <td>{{about.subtitleText7}} </td>
                                                    <td>{{about.subtitleText8}}  </td>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                              <p> <b> Note : </b> <span class="impnote"> {{about.note}} </span> </p>

                                     </div>
                                   </div>
                        </div>
                       
                        <div class="col-sm-12">
                                <h2 class="batchhtags"> Current Running Batch </h2>
                                <div class="col-sm-12" *ngFor="let about of batchesGetsMain">
                                <div class="col-sm-12 batchesmain"  (click)="batchesMainClick(about)">
                                    <h6> Posted On : <b> {{about.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{about.createdAt  | date: "shortTime"}}   </b> </h6>        
                                    <h2> {{about.batchName}}  </h2>
                                        <h5> {{about.branchShift}}  </h5>
                                        <h5> {{about.branchTimmingsStart}}  </h5>
                                        <h5> {{about.branchTimmingsEnding}}  </h5>
                                        <h5> {{about.batchDurations}}  </h5>
                                        <h5> {{about.totalBatchDurations}}  </h5>
                                        <h5> {{about.batchDescription1}}  </h5>
                                        <h5> {{about.batchDescription2}}  </h5> 
                                        <h5> {{about.batchDescription3}}  </h5> 
                                        <h5> {{about.batchDescription4}}  </h5> 
                                      </div>
                                      <div class="col-sm-12 tt" *ngIf="batchesGetsMainNameId == about._id">
                                            <h2>  Faculty Details </h2>
                                            <div class="col-sm-12" *ngFor="let about of getfacultyMains">
                                                <div class="col-sm-5">
                                                    <img src="{{about.facultyImg}}" style="width:100%;height:200px;" class="img-thumbnail img-responsive">
                                                    <h5> {{about.facultyName}} / ({{about.facultyQualifications}})  </h5>
                                                </div>
                                                <div class="col-sm-5">
                                                   
                                                    <h5> {{about.facultyDescriptions}}  </h5>
                
                                                </div>
                                            </div>
                                         
                                         
                                          <div class="col-sm-12">
                                                <h2>  Test Analysis </h2>
                                                <div class="col-sm-12" *ngFor="let about of gettestAnaysisMains">
                                                    <div class="col-sm-5">
                                                        <img src="{{about.studentImg}}" style="width:100%;height:200px;" class="img-thumbnail img-responsive">
                                                        <h5> {{about.name}} / ({{about.place}})  </h5>
                                                        <h5> {{about.hallTicketNo}}  </h5>
                                                     
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <h5> {{about.markSecured}}  </h5>
                                                        <h5> {{about.TotalMarks}}  </h5>
                                                        <h5> {{about.studentQualification}}  </h5>
                                                        <h5> {{about.description}}  </h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                    <h2>  Computers Labs   </h2>
                                                    <div class="col-sm-12" *ngFor="let about of computerLabMains">
                                                        <div class="col-sm-12">
                                                            <img src="{{about.computerLabImg}}" style="width:100%;height:200px;" class="img-thumbnail img-responsive">
                                                            <h5> {{about.computerLabOne}}    </h5>
                                                            <h5> {{about.descriptions}}  </h5>
                                                         
                                                        </div>
                                                         
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 boxshaves">
                                                        <h2>  library Details Labs   </h2>
                    
                                                        <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                           {{libraryOneGetsMainName}} <span class="caret"></span>
                                                         </button>
                                                         <ul class="dropdown-menu">
                                                             <li class="locationsdrops insidecap" *ngFor="let get of libraryOneGetsMain" (click)="libraryOneMainClick(get)">{{get.libraryQualification}}</li>
                                                         </ul> 
                                                     </div>
                                                     <div class="col-sm-6 boxshaves">
                                                        <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                           {{libraryTwoGetsMainName}} <span class="caret"></span>
                                                         </button>
                                                         <ul class="dropdown-menu">
                                                             <li class="locationsdrops insidecap" *ngFor="let get of libraryTwoGetsMain" (click)="libraryTwoMainClick(get)">{{get.libraryDepartment}}</li>
                                                         </ul> 
                                                     </div>
                                                     <div class="col-sm-12">
                                                            <h2> {{libraryOneGetsMainName}} / {{libraryTwoGetsMainName}}  </h2>
                                                            <div class="col-sm-12" *ngFor="let about of computerLabThreeMains">
                                                                <div class="col-sm-5">
                                                                    <img src="{{about.booksImg}}" style="width:100%;height:200px;" class="img-thumbnail img-responsive">
                                                                    <h5> {{about.booksMainTitle}}  </h5>
                                                                    <h5> {{about.booksAuthor}}  </h5>
                                                                    <h5> {{about.booksName}}  </h5>
                        
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                                <h2>  Track Records </h2>
                                                                <div class="col-sm-12" *ngFor="let about of trackRecordsMains">
                                                                    <div class="col-sm-5">
                                                                        <img src="{{about.studentImg}}" style="width:100%;height:200px;" class="img-thumbnail img-responsive">
                                                                        <h5> {{about.studentName}} / ({{about.place}})  </h5>
                                                                        <h5> {{about.hallTicket}}  </h5>
                                                                     
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <h5> {{about.marks}}  </h5>
                                                                        <h5> {{about.elegibliityPost}}  </h5>
                                                                        <h5> {{about.coursedJoined}}  </h5>
                                                                        <h5> {{about.studentQualification}}  </h5>
                                                                        <h5> {{about.yearOfSelection}}  </h5>
                                                                        <h5> {{about.AIR}}  </h5>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                              </div>
                            </div>
                              </div>
                 </div>
        </div>

    </div>
 
    </div>
</div>

<!-- ******************* UPDATES PRESENT ********************************* -->
  
<div class="col-sm-8 col-sm-offset-3 clearfix">
    <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
      <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
        <div class="col-sm-12">
            <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
              <a> 
                  <img src="{{up.images}}" alt="about us" style="width:100%"></a>
        </div>
  
  
        <div class="col-sm-12 viedoes">
            <video width="100%" height="400px" controls>
                <source src="{{up.viedoes}}" type="video/mp4">
               </video>
          </div>
      
          <div class="col-sm-12">
              <h3> {{up.title}} </h3>
              <h6> {{up.description}} </h6>
           </div>
  
           <!-- <div class="col-sm-3" (click)="shareClick(up)">
                  <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                    share </p>
               </div> -->
              <div class="col-sm-3" (click)="commentsClick(up)">
                  <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                    <span class=""> comments </span> 
                 </p>
          </div>
          <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
              <div class="col-sm-1">
                  <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
              </a>
          </div>
              
                <div class="col-sm-1">
                        <a href="https://www.whatsapp.com/" target="_blank">
                    <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                        </a>
              </div>
                 <div class="col-sm-1">
                   <a href="https://plus.google.com/discover" target="_blank">
                   <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                 </div>
     <div class="col-sm-1"> 
         <a href="https://twitter.com/login" target="_blank">
           <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
     </div>
   <div class="col-sm-1"> 
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
     </div>
          </div>
      
        <div class="col-sm-12">
            <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                <mat-form-field class="example-full-width">
                    <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                  </mat-form-field>
                  <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
              <div class="col-sm-12">
                <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
            </div>
          </div>
   
    <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
  <div class="col-sm-12" *ngFor="let comms of getUsersComments">
    <div class="col-sm-12 userscomm">
    <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                     <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                      <h6>  {{comms.descriptions}} </h6> 
   </div>                  
                  <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                          <a class="replyses">
                              <b class="replies lsc"> reply   </b></a>
                      </div> 
                   
  
  
      <div  class="u" *ngIf="replyfrom && replyid == comms._id">
        <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
            <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
       <img src="{{proDetailsClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
          {{proDetailsClients.name}}:</span>
         <h6> {{rep.descriptions}} </h6> 
         </div> 
         </div> 
  
        </div>
      </div>
  </div>
        </div>
      </div>
           
                 <!-- **************************************************** -->
            
    <!-- **************** com ************* -->
        
   <div class="container-fluid">
      <div class="row">
              <div class="col-sm-8 col-sm-offset-2 comments">
                <h4 class="aboutu"> Leave your comments </h4> 
                <hr/>  
                  <div class="col-sm-10 col-sm-offset-2">
                    <form class="example-form">
                        <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Name" [(ngModel)]="commentspost.name" name="comments">
                        </mat-form-field>
                        </div>
  
                        <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email Id" [(ngModel)]="commentspost.email" name="email">
                          </mat-form-field>
                          </div>
  
                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Contact No" [(ngModel)]="commentspost.contactNo" name="contact">
                            </mat-form-field>
                            </div>
  
                            <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Leave a comment" [(ngModel)]="commentspost.leaveComment" name="leaveComment"></textarea>
                              </mat-form-field>
                            </div>
                        </form>
                     <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
                </div>  
  
               </div>
            </div>
  </div> 
  
</div>


<div class="col-sm-12 footerback">
        <div class="col-sm-8 col-sm-offset-3">
          <div class="col-sm-8">
            <!-- <div class="col-sm-4">
              <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
        
                 <h3> About Us </h3>
             </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div> -->
            <div class="col-sm-4">
             <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
         
              <h3>  Advertises  </h3>
            </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          </div>
          <div class="col-sm-4">
            <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
         
              <h3> Feedback   </h3>
          </a>
        </div>
          </div>
         <div class="col-sm-8 catas">
            <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                    Animals  
            </a>
             /  
             <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
        
                 Baby Care Centers  
            </a>
             /  
             <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
        
              Beauty Parlour   </a>
              /
             
             <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
        
                Dance   </a>
                 / 
                 <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                  Driving Schools  
               </a> 
               / 
                 
               <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                   Fights Institutions 
               </a> 
               /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                  Fire Works  
               </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
          
                   Function Halls 
              </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
          
                   Furnitures  
              </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
          
                 GYM  
              </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                  Hostels 
              </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
                 Indoor Games  
               </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
            
                  Marriage Bureaus  
              </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
        
                   Music  Institutions
              </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                  Outdoor Games  
               </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
          
                 Plants  
              </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                   Packers and Movers  
               </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                   Professional Insitutions  
               </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
          
                 Real Estate 
              </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
        
                  Restaurants  
              </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
        
           Swimming Pools  
              </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
        
                   Tutions  Centers  
              </a>
            
         </div>
         <div class="col-sm-8 locationcs">
           <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
         </div>
    
         <div class="col-sm-6">
          
          <h3> Keep in touch </h3>
          <div class="col-sm-2">
            <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
        <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
        </a>
    </div>
    
  <div class="col-sm-2"> 
  <a href="https://twitter.com/yestelanganase1" target="_blank">
  <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
  </div>
  <div class="col-sm-2"> 
  <a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
  <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
  </div>
  
          </div>
    <div class="col-sm-8 ">
    <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
    </div>
        </div>
      </div>