 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
<div class="catog">
  <div class="bgshostel">
      <div class="container">
          <div class="row">
           

          <div class="col-sm-12 bghostels">
      
                
                <h2 class="cnames"> {{mainuser.tutionsName}} </h2>    
                <div class="col-sm-12 bgimg">
                    <img src="{{mainuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                
                </div>
                <h4 class="insidecap"> over all view </h4>
                <ul class="overllview insidecap">
                   
                    <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
                        <span class="glyphicon glyphicon-hand-right"> about us </span> 
                         
                        </a> 
                    </li>
                    <li class="fontsize"> <a href="#iamges" data-toggle="tab">
                        <span class="glyphicon glyphicon-hand-right"> images </span> 
                             
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#payments" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> timings </span> 
                             
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#payments" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> Our Aim </span> 
                             
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#payments" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> parent information</span> 
                             
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#facilities" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> fecilities </span>
                            
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#facilities" data-toggle="tab">
                            <span class="glyphicon glyphicon-hand-right"> Tutions Informations </span>
                              
                             </a> 
                         </li>
                       <li class="fontsize"> <a href="#address" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> Address</span> 
                           
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#cont " data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> contact informations</span> 
                            
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#cont " data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> Our updates </span> 
                            
                           </a> 
                       </li>
                       <li class="fontsize"> <a href="#com" data-toggle="tab">
                          <span class="glyphicon glyphicon-hand-right"> leave comments</span> 
                           
                           </a> 
                       </li>
                    </ul>
                     </div>
 
          </div>
          </div>
          </div>
          <hr/>
  
  
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 gh">
                  <div class="col-sm-12 timings">
                      <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
  <ul>
    <li class="nones"> {{mainuser.day1}} </li>
    <li class="nones"> {{mainuser.day2}} </li>
    <li class="nones"> {{mainuser.day3}} </li>
    <li class="nones"> {{mainuser.day4}} </li>
    <li class="nones"> {{mainuser.day5}} </li>
    <li class="nones"> {{mainuser.day6}} </li>
    <li class="nones"> {{mainuser.day7}} </li>
    <li class="nones"> {{mainuser.allTimes}} </li>
  </ul>
  <hr/>
                  </div>
                  <div class="col-sm-12 images">
                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                        <hr/>       
                       
                        
                        <ul>
                          
                    <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images1}}" target="_blank"><img src="{{mainuser.images1}}" alt="about us" style="width:100%">  </a></li>
                    <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images2}}" target="_blank">  <img src="{{mainuser.images2}}" alt="about us" style="width:100%"> </a> </li>
                    <li class="nones col-sm-12 addimgs">    <a href="{{mainuser.images3}}" target="_blank"><img src="{{mainuser.images3}}" alt="about us" style="width:100%"> </a> </li>
                    <li class="nones col-sm-12 addimgs"><a href="{{mainuser.images4}}" target="_blank"><img src="{{mainuser.images4}}" alt="about us" style="width:100%"> </a> </li>
                    <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images5}}" target="_blank"> <img src="{{mainuser.images5}}" alt="about us" style="width:100%"> </a> </li>
           
         
                          </ul>
                        </div>
                       
                        <div class="col-sm-12 e addes">
  
                                <h4 class="ads"> Address </h4> 
                                <hr/>
                                <div class="col-sm-12 cons addresscap">
                                   H No:{{mainuser.houseNo}} , {{mainuser.subArea}},{{mainuser.landmark}},{{mainuser.city}}
                                    
                                    {{mainuser.distict}},
                                    {{mainuser.state}},
                                    {{mainuser.pincode}}
                              </div>
                
                            </div>
                         
                            <div class="col-sm-12 e addes">
                                <h4 class="ads"> Contact informations </h4> 
                                <hr/>
                                <div class="col-sm-12 cons">
          <p>  
              <span class="glyphicon glyphicon-phone-alt"> office no: {{mainuser.officeNo}} 
              
          </span>
           </p>
                                      <br>
            <p> 
                 <span class="glyphicon glyphicon-earphone">
                       Mobile No: {{mainuser.mobileNo}} 
                </span></p>
                                        <br>
                    <p> <i class="fa fa-whatsapp" aria-hidden="true">
                         whatsapp No: {{mainuser.whatsupno}} </i></p>
                                                                  <br>
                                   <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{mainuser.emailId}} </i>
                                     
                                    </p> 
                                     
                                </div>
          
                              </div>
                              </div>
  
                  <div class="col-sm-9 mains">
                      <p class="dfd"> About Us </p>
  <div class="col-md-12">
 
      <img src="{{mainuser.images1}}" style="width:20%;height:120px" class="pull-left img-thumbnail profilepic img-responsive">
      <p> <b> name: </b> <span class="names">{{mainuser.name}}</span> </p>
      <h6 class="dfd">  <b>  my profile : </b></h6>
  <p class="mainprog">
      {{mainuser.myProfileDescriptionOne}}
       <br>
     <span class="profpag"> {{mainuser.myProfileDescriptionTwo}}</span>
           
      </p>
      <h6 class="dfd">  <b> our aim : </b></h6>
      <p class="mainprog">{{mainuser.ourAimDescriptionOne}}
           <br>
         <span class="profpag"> {{mainuser.ourAimDescriptionTwo}}
           </span>
               
          </p>
      <hr/>
  </div>


  <div class="col-md-12 mainss">
          <h6 class="dfd"> <b> parents informations : </b></h6>
          <p class="mainprog"> 
                {{mainuser.parentsInformation}}
      </p>
          <hr/>
          <div class="col-md-12 mains">
                  <h6 class="dfd"> <b> fecilities : </b></h6>
                  <table class="table fecit table-responsive">
                      
                        <tbody>
                          <tr>
                            <td> {{mainuser.fecilities1}} </td>
                            <td> {{mainuser.fecilities2}} </td>
                            <td> {{mainuser.fecilities3}} </td>
                          </tr>
                          <tr>
                                <td> {{mainuser.fecilities4}} </td>
                                <td> {{mainuser.fecilities5}} </td>
                                <td> {{mainuser.fecilities6}} </td>
                          </tr>
                          <tr>
                                <td> {{mainuser.fecilities7}} </td>
                                <td> {{mainuser.fecilities8}} </td>
                                <td> {{mainuser.fecilities9}} </td>    
                          
                          </tr>
                          <tr>
                                <td> {{mainuser.fecilities10}} </td>
                                <td> {{mainuser.fecilities11}} </td>
                                <td> {{mainuser.fecilities12}} </td>
                               
                              </tr>
                             
                              <tr>
                                    <td> {{mainuser.fecilities13}} </td>
                                    <td> {{mainuser.fecilities14}} </td>
                                    <td> {{mainuser.fecilities15}} </td>
                                   
                                  </tr>
                                  
                        </tbody>
                      </table>
                  <hr/>
              </div>   
      </div>
      
     </div>
     <div class="col-md-9 mainss">
          <h6 class="dfd"> <b> tutions informations : </b></h6>

          <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{mainuser.images3}}" alt="Los Angeles" style="width:100%;height:500px">
                  </div>
            
                  <div class="item">
                    <img src="{{mainuser.images4}}" alt="Chicago" style="width:100%;height:500px">
                  </div>
                
                  <div class="item">
                    <img src="{{mainuser.images5}}" alt="New york" style="width:100%;height:500px">
                  </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

<div class="col-sm-12 topsandbot"  *ngFor="let sscs of ssc">
  <div class="col-sm-12" *ngIf="sscs.createdAt">
    <table class="table table-bordered fecit table-responsive tablesscd">
                
        <thead>
               
                <tr class="insidecap tablessc">
                        <th class="standards">standards</th>
                        <th>Descriptions</th>
                        <th>Name of the tutors</th>
                        <th class="years">Year of Experence</th>
                      </tr>
              </thead>
      <tbody>
             <tr class="tablesscc">
                    <td class=" "> Posted On </td>
                    <td class=" "> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                    <td class=" "> {{sscs.createdAt  | date: "shortTime"}} </td>
                    <td>  </td>
            </tr>
            <tr>
                    <td class="standards"> LKG - 9th </td>
                   <td class="tdadjss"> <p> {{sscs.descriptionBasics}} </p>  </td>
                    <td> <p>  {{sscs.nameOfTutorsBasics}}</p> </td>
                    <td  class="years">  {{sscs.yearOfExperienceBasics}} </td>
                  </tr>
                 
                  <tr>
                        <td class="standards"> SSC </td>
                        <td class="tdadjss">  <p> {{sscs.descriptionssc}} </p>   </td>
                        <td> <p> {{sscs.nameOfTutorssc}} </p> </td>
                        <td  class="years">  <p> {{sscs.yearOfExperiencesssc}} </p> </td>
                      </tr>
  </tbody>
</table>
</div>
</div>
</div>
              
          
               <table class="table table-bordered fecit table-responsive tablesscds">
                            
        <thead>
               
            <tr class="insidecap tablessc">
                    <th class="standards">standards</th>
                    <th>Descriptions</th>
                    <th>Name of the tutors</th>
                    <th class="years">Year of Experence</th>
                  </tr>
          </thead>

                    <tbody *ngFor="let sscs of ints">
                                <tr class="standards insidecap">  <h5 class="tabinter"> Intermediate:</h5> </tr>
  
                                <tr class="tablesscc">
                                        <td class="insidecap"> Posted On </td>
                                        <td class="insidecap"> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                                        <td class="insidecap"> {{sscs.createdAt  | date: "shortTime"}} </td>
                                        <td>  </td>
                                </tr>   
    
                                <tr class="standards">  <td> <p><span  class="parts">PART-I: </span> </p>  </td>  </tr>
                          
                                
                            <tr> 
                                    <td class="standards insidecap"> <p>  English </p>  </td>    
                                    <td class="tdadjs">  <p>  {{sscs.descriptionsEnglish}} </p>  </td>
                                    <td class="insidecap"> <p>  {{sscs.tutorsEnglish}} </p>  </td>
                                    <td  class="years"> <p>  {{sscs.expenglish}} </p>  </td>
                          </tr>
                          <tr> <td class="standards"> <p><span  class="parts">PART-II: </span> </p>  </td>  </tr>
                          <tr> 
                                <td class="standards insidecap"> <p> Telugu </p>  </td>    
                                <td class="tdadjs">  <p> {{sscs.descriptionsTelugu}} </p>  </td>
                                <td class="insidecap"> <p>  {{sscs.tutorsTelugu}} </p>  </td>
                                <td  class="years"> <p>  {{sscs.expTelugu}} </p>  </td>
                      </tr>
                          <tr>
                                  <td class="standards insidecap"> <p> Hindi</p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsHindi}}</p>  </td>
                                  <td class="insidecap"> <p>  {{sscs.tutorsHindi}} </p>  </td>
                                  <td  class="years"> <p>  {{sscs.expHindi}} </p> </td>
                          </tr> 
                          
                          
                          <tr>
                                  <td class="standards insidecap"> <p> Sanskrit </p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsSanskrit}}</p>  </td>
                                  <td class="insidecap"> <p>{{sscs.tutorsSanskrit}}</p> </td>
                                  <td  class="years">  <p>{{sscs.expSanskrit}}</p></td>
                          </tr>
    
    
                          <tr>
                                <td class="standards insidecap"> <p> urudhu</p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsurudhu}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsurudhu}}</p> </td>
                                  <td  class="years"> <p>{{sscs.expurudhu}}</p></td>
                          </tr>
    
    
                          <tr>
                                <td class="standards insidecap">  <p>  Arabic  </p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsArabic}}</p>  </td>
                                  <td class="insidecap"> <p>{{sscs.tutorsArabic}}</p> </td>
                                  <td  class="years"> <p>{{sscs.expArabic}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap"> <p>  Franch   </p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsFranch}}</p>  </td>
                                  <td class="insidecap"> <p>{{sscs.tutorsFranch}}</p> </td>
                                  <td  class="years"><p>{{sscs.expFranch}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Tamil  </p> </td>
                                  <td class="tdadjs">  <p>{{sscs.descriptionsTamil}}</p>  </td>
                                  <td class="insidecap"> <p>{{sscs.tutorsTamil}}</p> </td>
                                  <td  class="years"> <p>{{sscs.expTamil}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Kanadam  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsKanadam}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsKanadam}}</p></td>
                                  <td  class="years"><p>{{sscs.expKanadam}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Oriya </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsOriya}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsOriya}}</p> </td>
                                  <td  class="years"><p>{{sscs.expOriya}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Marathi  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionsMarathi}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsMarathi}}</p></td>
                                  <td  class="years"><p>{{sscs.expMarathi}}</p></td>
                          </tr>
                          <tr> <td class="standards insidecap"> <p class="parts">  PART-III: Optional Subjects:   </p>  </td>  </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Mathametics   </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionMathametics}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsMathametics}}</p></td>
                                  <td  class="years"><p>{{sscs.expMathametics}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Physics </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionPhysics}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsPhysics}}</p></td>
                                  <td  class="years"><p>{{sscs.expPhysics}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Chemistry </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionChemistry}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsChemistry}}</p></td>
                                  <td  class="years"><p>{{sscs.expChemistry}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Botony </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionBotony}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsBotony}}</p></td>
                                  <td  class="years"><p>{{sscs.expBotony}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Zoology  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionZoology}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsZoology}}</p></td>
                                  <td  class="years"><p>{{sscs.expZoology}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Commerce  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionCommerce}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsCommerce}}</p></td>
                                  <td  class="years"><p>{{sscs.expCommerce}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Economics  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionEconomics}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsEconomics}}</p></td>
                                  <td  class="years"><p>{{sscs.expEconomics}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Civics   </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionCivics}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsCivics}}</p></td>
                                  <td  class="years"><p>{{sscs.expCivics}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> History  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionHistory}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsHistory}}</p></td>
                                  <td  class="years"><p>{{sscs.expHistory}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Psycology  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionPsycology}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsPsycology}}</p></td>
                                  <td  class="years"><p>{{sscs.expPsycology}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  PublicAdminstration   </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionPublicAdminstration}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsPublicAdminstration}}</p></td>
                                  <td  class="years"><p>{{sscs.expPublicAdminstration}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Logic   </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionLogic}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsLogic}}</p></td>
                                  <td  class="years"><p>{{sscs.expLogic}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Socialogy </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionSocialogy}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsSocialogy}}</p></td>
                                  <td  class="years"><p>{{sscs.expSocialogy}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p>  Geography  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionGeography}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsGeography}}</p></td>
                                  <td  class="years"><p>{{sscs.expGeography}}</p></td>
                          </tr>
                          <tr>
                                <td class="standards insidecap">  <p> Geology  </p> </td>
                                <td class="tdadjs">  <p>{{sscs.descriptionGeology}}</p>  </td>
                                  <td class="insidecap"><p>{{sscs.tutorsGeology}}</p></td>
                                  <td  class="years"><p>{{sscs.expGeology}}</p></td>
                          </tr>
    

                      
                    </tbody>
                  </table>
           <br>
         
          
          <hr/>
         
<div class="col-sm-12 topsandbot">
        <table class="table table-bordered fecit table-responsive tablesscd">
                    
            <thead>
                   
                    <tr class="insidecap tablessc">
                            <th class="standards">standards</th>
                            <th>Descriptions</th>
                            <th>Name of the tutors</th>
                            <th class="years">Year of Experence</th>
                          </tr>
                  </thead>
          <tbody *ngFor="let sscs of ssc">
                <tr class="tablesscc">
                        <td class=" "> Posted On </td>
                        <td class=" "> {{sscs.createdAt | date: 'dd/MM/yyyy'}}  </td>
                        <td class=" "> {{sscs.createdAt  | date: "shortTime"}} </td>
                        <td>  </td>
                </tr>
                <tr>  <h1 class="tabinter"> Degree : </h1>   </tr>
                <tr>
                        <td class="standards"> <p class="parts"> Business Degree  </p> </td>
                        <td> <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p> </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">   15 years</td>
                </tr>
                <tr>
                        <td class="standards">  <p  class="parts"> Computing degree  </p>  </td>
                        <td>  <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p>   </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">  15 years</td>
                </tr>
                <tr>
                        <td class="standards"> <p  class="parts"> Engineering degree  </p>  </td>
                        <td>  <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p> </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">   15 years</td>
                </tr>
                <tr>
                        <td class="standards">  <p  class="parts"> Humanilies Degree  </p> </td>
                        <td>  <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p>  </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">  15 years</td>
                </tr>
                <tr>
                        <td class="standards"> <p  class="parts"> Language degrees  </p>  </td>
                        <td>   <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p>   </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">  15 years</td>
                </tr>
                <tr>
                        <td class="standards">  <p  class="parts"> Law degrees  </p>  </td>
                        <td> <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p> </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">  15 years</td>
                </tr>
                <tr>
                        <td class="standards">  <p  class="parts"> Psychology degrees  </p>  </td>
                        <td>   <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p>   </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">  15 years</td>
                </tr>
                <tr>
                        <td class="standards">  <p  class="parts"> Science degrees  </p> </td>
                        <td>  <p> jksdnbjkrf jdbnfjher jnkfef lkmrogerg jsbhhwegfvb sehgvhfe f</p>  </td>
                        <td> abhinesh ghugloth </td>
                        <td  class="years">   15 years</td>
                </tr>
     </tbody>
    </table>
    
    </div> </div>
    
          <!-- ********************************************** updates ******************************************** -->
<div class="col-sm-8  col-sm-offset-3  ">
                <div class="col-sm-12">
                  <h5 class="dfd"> <b>Our Updates({{adminsupdateCommentsCountsall}})</b> </h5>
                   
                      <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                         <div class="col-sm-12">
                            <p> {{item.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{item.createdAt  | date: "shortTime"}} </span>  </p>

                              <a href="{{item.images}}" target="_blank">  <img src="{{item.images}}" alt="about us" style="width:100%; height:600px"></a>
                            <div class="col-sm-12 viedoes">
        
                            <video width="100%" height="400px" controls>
                                    <source src="{{item.viedoes}}" type="video/mp4">                                   
                                   </video>
                                  </div>
                                  <h6 class="insidecap titles"> {{item.title}} </h6>
                             <h6> {{item.description}} </h6>
                            <p> <span class="times">   time:11:00 am </span>  </p>  
          
                         </div>
          
                <div class="col-sm-12" >         
              <hr/>
             
               
              <!-- <div class="col-sm-3 lsc finalcss" (click)="showicons()">
                  <div class="col-sm-12">
                      <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                        share </p>
                              
                  </div>
                  </div> -->
                  <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                      <p class="lsc"> {{adminsupdateCommentsCount}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                       <span class=""> comments </span> 
                    </p>
                  </div>  
                  <div class="col-sm-12 consts">
                  <div class="col-sm-12 comentssuboit" *ngIf="shows">
                
                      <mat-form-field class="example-full-width">
                          <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="updatesCommentsdata.descriptions" name="descriptions" ></textarea>
                        </mat-form-field>
                        <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>
        
                        <div class="col-sm-12 viewsComs finalcss">
 
                            <a  class="replysess lsc finalcss"  (click)="updatestoAdmincommentsget(item._id)"><b> view comments ({{adminsupdateCommentsCount}}) </b></a> 
                        </div>
    
                        <div class="col-sm-12 finalcss" *ngIf="showes && commentsUpdatesId == item._id">
                                  <li *ngFor="let items of  adminsupdateComments" class="commm">
                                          <h6> 
                                            <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>      
                                           
                                              <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                            {{items.descriptions}}  </h6>
                                            
                                       
                                            <br/>
                                            <b>{{items.createdAt  | date: "shortTime"}}   </b>
                                          <br/>
                                            <a class="replyses" (click)="updatesAdminReply(items._id)">
                                              <b class="lsc"> reply : </b></a>
                                
                               <div *ngIf="showess && selectedblogIds == items._id" class="u">
    
                                  <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                      <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  
    
                                    <img src="{{mainuser.images2}}" class="img-circle" alt="about us" style="width:4%"> <span class="replys">
                                      {{mainuser.name}}:</span>
                                     <h6> {{replys.descriptions}} </h6> 
                                     <br/>
                                     <b>{{items.createdAt  | date: "shortTime"}}   </b> 
                                    </ul> 
                                </div>      
                              
                                       </li>
                                             
                                        </div>
              </div>
              <div class="col-sm-12 proc finalcss" *ngIf="show">
                    <div class="col-sm-1">
                            <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                        </a>
                    </div>
                        
                          <div class="col-sm-1">
                                  <a href="https://www.whatsapp.com/" target="_blank">
                              <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                  </a>
                        </div>
                           <div class="col-sm-1">
                             <a href="https://plus.google.com/discover" target="_blank">
                             <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                           </div>
               <div class="col-sm-1"> 
                   <a href="https://twitter.com/login" target="_blank">
                     <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
               </div>
             <div class="col-sm-1"> 
                <a href="https://www.instagram.com/accounts/login/" target="_blank">
                  <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
               </div>
              </div>
             
              </div>
             
            </div>
    
        </div> 
        </div>
        </div>       
     <!-- **************** com ************* -->
      
     <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 comments">
                          <h4 class="aboutu"> Leave your comments </h4> 
                          <hr/>  
                            <div class="col-sm-10 col-sm-offset-2">
                              <form class="example-form">
                                  <div class="col-sm-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" [(ngModel)]="comments.name" name="comments">
                                  </mat-form-field>
                                  </div>
    
                                  <div class="col-sm-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email Id" [(ngModel)]="comments.email" name="email">
                                    </mat-form-field>
                                    </div>
    
                                    <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contact No" [(ngModel)]="comments.contactNo" name="contact">
                                      </mat-form-field>
                                      </div>
    
                                      <div class="col-sm-12">
                                      <mat-form-field class="example-full-width">
                                          <textarea matInput placeholder="Leave a comment" [(ngModel)]="comments.leaveComment" name="leaveComment"></textarea>
                                        </mat-form-field>
                                      </div>
                                  </form>
                               <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
                          </div>  
    
                         </div>
                      </div>
    </div> 
    
  </div>

  <div class="col-sm-12 footerback">
      <div class="col-sm-8 col-sm-offset-3">
        <div class="col-sm-8">
         
          <div class="col-sm-4">
           <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
       
            <h3>  Advertises  </h3>
          </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-sm-4">
          <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
       
            <h3> Feedback   </h3>
        </a>
      </div>
        </div>
       <div class="col-sm-8 catas">
          <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                  Animals  
          </a>
           /  
           <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
      
               Baby Care Centers  
          </a>
           /  
           <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
      
            Beauty Parlour   </a>
            /
           
           <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
      
              Dance   </a>
               / 
               <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                Driving Schools  
             </a> 
             / 
               
             <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                 Fights Institutions 
             </a> 
             /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                Fire Works  
             </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
        
                 Function Halls 
            </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
        
                 Furnitures  
            </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
        
               GYM  
            </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                Hostels 
            </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
               Indoor Games  
             </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
          
                Marriage Bureaus  
            </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
      
                 Music  Institutions
            </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                Outdoor Games  
             </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
        
               Plants  
            </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                 Packers and Movers  
             </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                 Professional Insitutions  
             </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
        
               Real Estate 
            </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
      
                Restaurants  
            </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
      
         Swimming Pools  
            </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
                 Tutions  Centers  
            </a>
          
       </div>
       <div class="col-sm-8 locationcs">
         <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
       </div>
  
       <div class="col-sm-6">
        
        <h3> Keep in touch </h3>
        <div class="col-sm-2">
          <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
      </a>
  </div>
  
<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

        </div>
  <div class="col-sm-8 ">
  <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
  </div>
      </div>
    </div>