<!-- node --max_old_space_size=8192 ./node_modules/@angular/cli/bin/ng build -->
<div class="col-sm-12">

                <div class="col-sm-4 toall">
                                <a [routerLink]="['/admin/adminAnimals']"> 
                        
                                    <img src="assets/images/ani.png" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                    <h5> Animals  </h5>
                                 </a>
                         </div>
                         <div class="col-sm-4 toall">
                                        <a [routerLink]="['/admin/adminBabycare']"> 
                                
                                            <img src="assets/images/pre.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                            <h5> Baby Cares </h5>
                                         </a>
                                 </div>

 <div class="col-sm-4 toall">
                <a [routerLink]="['/admin/adminbeautyparlour']"> 
        
                    <img src="assets/images/f.jpg" alt="about us" class="img-thumbnail" style="wfidth:100%;height:235px;"> 
                    <h5> Beauty Parlour </h5>
                 </a>
         </div>
                   
                                
                                 <div class="col-sm-4 toall">
                                                <a [routerLink]="['/admin/adminDances']"> 
                                        
                                                    <img src="assets/images/dance.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                    <h5> Dances Instituions</h5>
                                                 </a>
                                         </div>
                                         <div class="col-sm-4 toall">
                                                        <a [routerLink]="['/admin/admidrivingSchools']"> 
                                                
                                                            <img src="assets/images/drive.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                            <h5> Driving Schools </h5>
                                                         </a>
                                                 </div>
                                                 <div class="col-sm-4 toall">
                                                                <a [routerLink]="['/admin/adminfights']"> 
                                                        
                                                                    <img src="assets/images/fights.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                                    <h5> fights Instituions</h5>
                                                                 </a>
                                                         </div>
                                                         <div class="col-sm-4 toall">
                                                                        <a [routerLink]="['/admin/adminFireWorks']"> 
                                                                
                                                                            <img src="assets/images/fire.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                                            <h5> FireWorks </h5>
                                                                         </a>
                                                                 </div>
                                                                 <div class="col-sm-4 toall">
                                                                                <a [routerLink]="['/admin/adminfunctionHalls']"> 
                                                                        
                                                                                    <img src="assets/images/1.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                                                    <h5> adminfunctionHalls </h5>
                                                                                 </a>
                                                                         </div>
<div class="col-sm-4 toall">
        <a [routerLink]="['/admin/furnituresadmin']"> 

            <img src="assets/images/furs.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <h5> Furnitures </h5>
         </a>
 </div>
 
 <div class="col-sm-4 toall">
                <a [routerLink]="['/admin/admingym']"> 
        
                    <img src="assets/images/gyms.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> Gym </h5>
                 </a>
         </div>
         <div class="col-sm-4 toall">
                        <a [routerLink]="['/admin/adminhostels']"> 
                
                            <img src="assets/images/hostels.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                            <h5> Hostels </h5>
                         </a>
                 </div>

                 <div class="col-sm-4 toall">
                                <a [routerLink]="['/admin/adminindoor']"> 
                        
                                    <img src="assets/images/indor.webp" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                    <h5> Indoor Games </h5>
                                 </a>
                         </div>
                         <div class="col-sm-4 toall">
                                        <a [routerLink]="['/admin/marriagesB']"> 
                                
                                            <img src="assets/images/marr.png" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                            <h5> Marriage Bureaus </h5>
                                         </a>
                                 </div>
                                 <div class="col-sm-4 toall">
                                                <a [routerLink]="['/admin/adminmusics']"> 
                                        
                                                    <img src="assets/images/music.webp" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                    <h5> musics</h5>
                                                 </a>
                                         </div>


                                         <div class="col-sm-4 toall">
                                                        <a [routerLink]="['/admin/adminoutdoor']"> 
                                                
                                                            <img src="assets/images/out.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                                            <h5> OutDoor Games </h5>
                                                         </a>
                                                 </div>

 
 <div class="col-sm-4 toall">
                <a [routerLink]="['/admin/adminPlants']"> 
        
                    <img src="assets/images/plant.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> Plants </h5>
                 </a>
         </div>
         <div class="col-sm-4 toall">
                        <a [routerLink]="['/admin/admidPackersMovers']"> 
                
                            <img src="assets/images/pm.webp" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                            <h5> Packers and Movers </h5>
                         </a>
                 </div>
                 <div class="col-sm-4 toall">
                                <a [routerLink]="['/admin/adminProfessionalInstitutions']"> 
                        
                                    <img src="assets/images/pi.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                    <h5> Professional Instituions </h5>
                                 </a>
                         </div>
 <div class="col-sm-4 toall">
                <a [routerLink]="['/admin/adminrealestate']"> 
                    <img src="assets/images/reald.jpeg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> Real Estate </h5>
                 </a>
         </div>

         <div class="col-sm-4 toall">
                        <a [routerLink]="['/admin/adminRestarants']"> 
                
                            <img src="assets/images/res.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                            <h5> Restaurant </h5>
                         </a>
                 </div>

 
                 <div class="col-sm-4 toall">
                                <a [routerLink]="['/admin/adminswimming']"> 
                        
                                    <img src="assets/images/swim.png" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                                    <h5> Swimming Pools </h5>
                                 </a>
                         </div>

 <div class="col-sm-4 toall">
        <a [routerLink]="['/admin/tutionsadmin']"> 

            <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <h5> Tutions </h5>
         </a>
 </div>
 
 <div class="col-sm-4 toall">
        <a [routerLink]="['/admin/admintravels']"> 

            <img src="https://beautyparlour.s3.amazonaws.com/pretty.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <h5> Travels </h5>
         </a>
 </div>

  
                        
</div>
