.bghostels{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border-radius: 1%;
}
.fontsize{font-size: 12px;list-style: none}
.bgimg{padding-bottom: 30px;margin-top:35px}
 .bgimgses{background-color: rgb(242, 246, 11);margin-bottom: 40px;}
.nones{list-style: none}
.cnames{background: #0070ff5c; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize;color: #3c3838;padding: 15px; box-shadow: 35px 28px 10px black;}
    .images2{margin-top:30px}
    .dfd{
        font-weight: bolder;
        font-size: 25px;
        text-transform: capitalize;
        padding-bottom: 12px;
        border-bottom: 2px solid red
    }
.ads{
    padding-top: 20px;
    font-size: 25px;
    color: black;
    /* padding-bottom: 20px; */
    font-weight: bolder
}
.commm{list-style:none}
.alltimes{color: red;font-weight:bold}
.aboutus{
    font-size: 40px;
    margin-top: 100px;
  margin-left:40px;
    margin-bottom: 30px;
}
.aboutuso{
     width: 70%;
     font-weight: bolder

}
.aboutust{
width: 70%;
/* font-weight: bolder */
}
.e{
    
    background-image: url(/assets/images/e.png);
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 25px;
    color: antiquewhite;
    margin-bottom: 25px;
}
.c{border: 2px solid pink}
.addimg{
    padding: 15px;
}
.addimgs{
    padding: 15px;
    border: 1px solid #0000ff1a;
}
.sdsthree{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.co{
    background-color: #8080804f;
}
.comments{
    
    background-image: url("/assets/images/des.png");
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    /* margin-bottom: 90px; */
    /* height: 500px; */
  padding-top: 20px;
  margin-top: 60px;
}
.vsb{
    padding: 11px;
    border-radius: 6px;
    border: none;
    width: 35%;
    margin-bottom: 50px;
    margin-top: 30px;
}
.commens{
    margin-top: 40px;

}
/* .mat-input-element{
    height: 200px;
    
} */
.mat-form-field {
  
    width: 65% !important;
}
.profilepic{
    margin:20px;
}
.profpag{
    margin-left: 100px
}
.mainprog{
    text-align: justify
}
.names{color: blue}
.ds{

}
.times{margin-left: 30px}
.imgadd{font-size: 50px;}
.shares{font-size: 30px;
    font-weight: 100;
    color: blue;}

    /* **************animations**************** */
    .catog{
        position: relative;
        animation-name: catog;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        
    }
    
    @keyframes catog{
        0%{left:-1000px;}
        100%{left:0;}
    }
 /* **************timings**************** */
 .timings{
    position: relative;
    animation-name: catog;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************images**************** */
.images{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************addes**************** */
.addes{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************mains**************** */
.mains{
    position: relative;
    animation-name: catog;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{top:1000px;}
    100%{top:0;}
}
/* **************mainss**************** */
.mainss{
    position: relative;
    animation-name: catog;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{right:1000px;}
    100%{right:0;}
}
/* ****************tables********** */
.standards{
    width: 17%;
}
.years{width: 11%;}
.tabinter{
    font-size: 14px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.parts{color:red}
.fb{    color: blue;
    font-size: 40px;}
    .whatsp{
        color: green;
        font-size: 37px;
    }
    .twiter{color: #00d8ff;
        font-size: 40px;}
    .inst{
        color: #ef6981;
    font-size: 40px;
    }
    .caterers{border-right: 2px solid #00000012;
        border-left: 2px solid #00000017;
        border-bottom: 15px solid #0000006e;}
        .cateres{       background-color: blue;
            border-radius: 5px;
            font-size: 30px;
            text-align: center;
            padding-bottom: 12px;
            padding-top: 2px;
            color: wheat;
        }
            .imgads{    font-size: 40px;
                color: white;
                margin-right: 0px;}
                .tabinter{
                    font-size: 14px;
                    background-color: blue;
                    padding: 10px;
                    border-radius: 5px;
                    color: white;
                    text-align: center;
                }
                .l{color: blue;font-weight: 700;}
                
                .ps{color: black;font-weight: 100;}
                .testes{background: #0000000d !important;}
                .ours{margin-top: 60px;}
                .dfs{
                    border: 1px solid blue;
                    padding: 10px;
                    -webkit-box-shadow: 10px 4px 14px 20px;
                    box-shadow: 10px 4px 14px 20px;
                    margin-top: 50px;
                }
                .viedoes{margin-top:35px;margin-bottom:35px;}
                .insidecap{
                    text-transform: capitalize;
                    font-weight: bolder
                  }
                  .titles{
                    font-size: 25px;
                    font-weight: bolder
                }
                .times{margin-left: 30px}
                .lsc{cursor: pointer;}
                .finalcss{margin-bottom:80px}
                .vdf{margin-bottom: 40px;  margin-top: 30px;}
                .mac{background-color: palegreen;margin-bottom: 20px}
                .mactwo{background-color: #e6f1e6;  margin-bottom: 40px;}
                .fec{padding-bottom: 45px;}