 
 <div class="col-sm-12">
        <div class="col-sm-4 toall">
                <a [routerLink]="['/generals/mainmenu']"> 
        
                    <img src="assets/images/furs.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> mainmenu </h5>
                 </a>
         </div>
        <div class="col-sm-4 toall">
                <a [routerLink]="['/generals/generalfurnitures']"> 
        
                    <img src="assets/images/furs.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> Furnitures </h5>
                 </a>
         </div>
         
         <div class="col-sm-4 toall">
                <a [routerLink]="['/generals/generalsrealestate']"> 
        
                    <img src="assets/images/furniture.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5> realestate </h5>
                 </a>
         </div>
     <div class="col-sm-4 toall">
            <a [routerLink]="['/generals/generalbabycares']"> 
    
                <img src="assets/images/babycares.jpeg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                <h5> Baby cares </h5>
             </a>
     </div>
     <div class="col-sm-4 toall">
            <a [routerLink]="['/generals/generalsmusic']"> 
    
                <img src="assets/images/babycares.jpeg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                <h5> Music </h5>
             </a>
     </div>
     <div class="col-sm-4 toall">
            <a [routerLink]="['/generals/generalsFunctionHall']"> 
    
                <img src="assets/images/babycares.jpeg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                <h5> function halls / banquiet halls </h5>
             </a>
     </div>
 
    
  </div>

  <div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsTutions']"> 

        <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Tutions </h5>
     </a>
</div>
 

<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsbeautyparlour']"> 

        <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> beauty Parlour </h5>
     </a>
</div>
 
<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalshostels']"> 

        <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Hostels </h5>
     </a>
</div>
 
<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsgym']"> 

        <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Gym </h5>
     </a>
</div>

<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalstravels']"> 

        <img src="assets/images/tui.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> travels </h5>
     </a>
</div>
<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsAnimals']"> 

        <img src="assets/images/birds.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Animals </h5>
     </a>
</div>
<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsPlants']"> 

        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Plants </h5>
     </a>
</div>

<div class="col-sm-4 toall">
    <a [routerLink]="['/generals/generalsrestaurants']"> 

        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
        <h5> Restaurants </h5>
     </a>
</div>

<div class="col-sm-4 toall">
        <a [routerLink]="['/generals/generaldances']"> 
    
            <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
            <h5> Dance </h5>
         </a>
    </div>

    <div class="col-sm-4 toall">
            <a [routerLink]="['/generals/generalmarriageBureau']"> 
        
                <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                <h5>  Marriage Bureau </h5>
             </a>
        </div>

        <div class="col-sm-4 toall">
                <a [routerLink]="['/generals/generalswimmings']"> 
            
                    <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                    <h5>  Swimming Pools  </h5>
                 </a>
            </div>
            <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalsfights']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Fights Instititues  </h5>
                     </a>
                </div>
                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generaloutdoorgames']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5> OutDoor Games  </h5>
                     </a>
                </div>
                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalindoorgames']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Indoor Games </h5>
                     </a>
                </div>

                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalDrivingSchools']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Driving Schools </h5>
                     </a>
                </div>

                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalFireWorks']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Fire Works </h5>
                     </a>
                </div>
                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalPackersMovers']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Packers and Movers  </h5>
                     </a>
                </div>
                <div class="col-sm-4 toall">
                    <a [routerLink]="['/generals/generalProfessionalInstituions']"> 
                
                        <img src="assets/images/plants.jpg" alt="about us" class="img-thumbnail" style="width:100%;height:235px;"> 
                        <h5>  Professional Institutions  </h5>
                     </a>
                </div>

             