
.register{border: 12px solid #f7f1f1;

    margin-top: 30px;
    margin-bottom: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .as{color:white !important}