
<div class="container-fluid">
    <div class="row">
      <div class="blockCenter">
  
    
      <div class="col-sm-6 col-sm-offset-3">
          <h1>register</h1>
        <div class="register">
           

          <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="email" [(ngModel)]="signups.email">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="password" type="password"  [(ngModel)]="signups.password">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="username" [(ngModel)]="signups.userName">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="conact number" [(ngModel)]="signups.contactNo">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="role" [(ngModel)]="signups.role">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="adminsId" [(ngModel)]="signups.adminsId">
              </mat-form-field>
            
          </div>
            
        
        
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" (click)="signUp()"> submit </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary"> <a [routerLink]= "['/login/login']" class="as"> login </a> </button>
          
        </div>
      </div>
    </div>
    </div>
  </div>

