<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT"> YES TELANGANA </a>
          </div>
          <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewProfile()"><a  class=""> 
                        <img src="{{furnitureuser.images2}}" class="img-circle"  style="width:100%">  </a></li>

     
                
              </ul>
           <!-- <ul class="nav navbar-nav pull-right fff">
                <li class="lsc" (click)="viewnoti()"><a  class=""> 
                        <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
  </ul> -->
             
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
         <div class="col-sm-12">
 
                <img src="{{furnitureuser.images2}}" class="img-circle"  style="width:45%">
         </div>
         <div class="col-sm-12">
                <div class="col-sm-12">
                        <h5 class="fnamess">    {{furnitureuser.name}}</h5>
                 </div>
               
                 <div class="col-sm-12">
                        <p>   {{furnitureuser.email}}</p>
                 </div>
                
         </div>
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
         </div>
        
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
        <div class="col-sm-12">

               <img src="{{furnitureuser.images2}}" class="img-circle"  style="width:45%">


        </div> 
       
       
  </div>  

        </div>
      </nav>
    





<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                <h4> view   Updates ({{usersUpdatesCounts}})</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{onlyCommentsCounts}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                    
                        <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                                <h4> Post  Products  </h4>
                            </div> 
                            <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
                                    <h4> View  Products and Customers  </h4>
                                </div> 

      </div>
    
    
   
    


    <div class="col-sm-8">
            <div class="col-sm-12" *ngIf="showmains">
       
                    <div class="catog">
                         <div class="bgshostel">
                             
                                     <div class="col-sm-12 bghostels">
                             
                                       
                                       <h2 class="cnames"> {{furnitureuser.shopname}} </h2>    
                                       <div class="col-sm-12 bgimg">
                                           <img src="{{furnitureuser.images1}}" alt="about us" style="width:100%;height:500px"> 
                                       
                                       </div>
                                   <div class="col-md-12">
                                        <p class="mainames"> About Us </p>
                                        <img src="{{furnitureuser.images1}}" style="width:20%;height:120px" class="pull-left img-thumbnail profilepic img-responsive">
                                        <p> <b> name: </b> <span class="names">{{furnitureuser.name}}</span> </p>
                                        
                                    <p class="mainprog">
                                          {{furnitureuser.aboutusdescriptionone}}  
                                         <br>
                                       <span class="profpag">        {{furnitureuser.aboutusdescriptiontwo}}  
                                              .</span>
                                             
                                        </p>
                                         
                                        <hr/>
                                    </div>
                                   
                                  <div class="col-md-12 mainss">
                                          <h6 class="mainames"> <b>  information to public : </b></h6>
                                  
                                          <p class="mainprog">
                                                {{furnitureuser.informationtopublic}} 
                                       <br>
                                     
                                      </p>
                                      </div>
                                          <hr/>
                                     
                                  
                                
                                 </div>
                                 </div>
                                 <div class="col-sm-12">
                                         <div class="col-sm-6 timings">
                                             <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                         <ul>
                           <li class="nones"> {{furnitureuser.mon}} </li>
                           <li class="nones"> {{furnitureuser.tue}} </li>
                           <li class="nones"> {{furnitureuser.wed}} </li>
                           <li class="nones"> {{furnitureuser.thu}}  </li>
                           <li class="nones"> {{furnitureuser.fri}} </li>
                           <li class="nones"> {{furnitureuser.sat}} </li>
                           <li class="nones"> {{furnitureuser.sun}}  </li>
                           <li class="nones noness"> {{furnitureuser.totaltiming}}  </li>
                         </ul>
                         <hr/>
                                         </div>
                                         <hr>
                                        
                                           <hr/>
                                           <div class="col-sm-6 e addes">
                         
                                               <h4 class="ads"> Address </h4> 
                                               <hr/>
                                               <div class="col-sm-12 cons addresscap">
                                                  H No:{{furnitureuser.hno}} , {{furnitureuser.area}},{{furnitureuser.landmark}},{{furnitureuser.city}}
                                                   
                                                   {{furnitureuser.distict}},
                                                   {{furnitureuser.state}},
                                                   {{furnitureuser.pincode}}
                                             </div>
                               
                                           </div>
                                        
                                           <div class="col-sm-6 e addes">
                                               <h4 class="ads"> Contact informations </h4> 
                                               <hr/>
                                               <div class="col-sm-12 cons">
                         <p>  
                             <span class="glyphicon glyphicon-phone-alt"> office no: {{furnitureuser.officeno}} 
                             
                         </span>
                          </p>
                                                     <br>
                           <p> 
                                <span class="glyphicon glyphicon-earphone">
                                      Mobile No: {{furnitureuser.mobileno}} 
                               </span></p>
                                                       <br>
                                   <p> <i class="fa fa-whatsapp" aria-hidden="true">
                                        whatsapp No: {{furnitureuser.whatsappno}} </i></p>
                                                                                 <br>
                                                  <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{furnitureuser.email}} </i>
                                                    
                                                   </p> 
                                                     <br>
                                                     <i class="fa fa-globe" aria-hidden="true"></i>
                                                     other ref website: <p>{{furnitureuser.refone}}</p>
                                                     <p>{{furnitureuser.reftwo}}</p>
                                                     <p>{{furnitureuser.refthree}}</p>
                                               </div>
                         
                                             </div>
                                         </div>
                         
                                 </div>
                 </div>  
               
                 

                 <div class="col-sm-8" *ngIf="updatesShows">
                        <h1> This is Post Your Updates </h1>
                        <div class="col-sm-12 search updateddiv">
                                <div class="col-sm-12 upforms">
                             <b class="unames"> update form: </b>
                     
                             <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images')" placeholder="please enter image" class="updated" name="images" >
                             <input type="file" #Image accept="video/*"  (change)="handleFileInputsFurnitures($event,'viedoes')" placeholder="please enter viedoes" class="updated" name="viedoes">
                             <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter your Title" [(ngModel)]="postupdatedataFurnitures.title" name="description">
                                  </mat-form-field>
                             <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedataFurnitures.descriptions" name="description">
                            </mat-form-field>
                            <button class="btn-primary upbuttons" (click)="FurnituresUpdatePostData()"> submit </button>
                            
                        </div>
                        
                            </div>
                        
                     </div> 
                            <!-- ********************************************** updates ******************************************** -->

                     <div class="col-sm-12" *ngIf="viewupdatesShows">
                
            <div class="col-sm-12">
                    <div class="col-sm-12">
                      <h5> <b>View Updates({{usersUpdatesCounts}})</b>
                         
                      </h5>
                       
                          <div class="col-sm-12 dfs" *ngFor="let item of adminupdatesFurnitures">
                             <div class="col-sm-12">
                                 <p> {{item.createdAt | date: 'dd/MM/yyyy'}}  </p>
                                  <a href="{{item.images}}" target="_blank"> 
                                       <img src="{{item.images}}" alt="about us" style="width:100%"></a>
                                <div class="col-sm-12 viedoes">
            
                                <video width="100%" height="400px" controls>
                                        <source src="{{item.viedoes}}" type="video/mp4">
                                        
                                       </video>
                                      </div>
                                      <h4> {{item.title}} </h4>
                                 <h6> {{item.descriptions}} </h6>
                                <p> <span class="times"> {{item.createdAt  | date: "shortTime"}} </span>  </p>  
              
                             </div>
              
                    <div class="col-sm-12" >         
                  <hr/>
                 
                  <div class="col-sm-3 lsc" (click)="showicons()">
                      <div class="col-sm-12">
                          <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                            share </p>
                                  
                      </div>
                      </div>

                      <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                          <p class="lsc"> {{adminsupdateCommentsCounts}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                           <span class=""> comments </span> 
                        </p>
                      </div>  

                      <div class="col-sm-12 consts">
                      <div class="col-sm-12 comentssuboit" *ngIf="shows">
                      
                        <div class="col-sm-12">
             
                                    <a  class="replyses"><b> view comments( {{adminsupdateCommentsCounts}}) </b></a> 
                                </div>
            
                                <div class="col-sm-12" *ngIf="updatesIds == item._id">
                                          <li *ngFor="let items of  adminsupdateComments" class="commm">
                                                  <h6> 
                                                    <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>      
                                               <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                                    {{items.descriptions}}  </h6>
                                               
                                                        <button class="btn-primary" (click)="commentsReplyId(items._id)"> Give Reply </button> 
                                                    <br/>
                                                    <b>{{items.createdAt  | date: "shortTime"}}   </b>
                                                  <br/>
                                                  
                                                  <div class="col-sm-12" *ngIf="adminShows && replyId == items._id">
                                                        <mat-form-field class="example-full-width">
                                                                <textarea class="texts" matInput placeholder=" please give reply"  [(ngModel)]="updatesCommentsdataReply.descriptions" name="descriptions" ></textarea>
                                                              </mat-form-field>
                                                              <button class="btn-primary" (click)="updatesAdminCommentsReply()"> submit </button>
                                                  </div>
                                                
                                                 
                                      
                                                    <a class="replyses" (click)="updatesAdminReply(items._id)">
                                                      <b> reply from <span class="replys">
                                                        {{furnitureuser.name}}:</span> </b></a>
                                         
                                       <div *ngIf="showess && selectedblogIds == items._id" class="u">
            
                                          <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                              <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  
            
                                            <img src="{{furnitureuser.images2}}" class="img-circle" alt="about us" style="width:4%">
                                             <h6> {{replys.descriptions}} </h6> 
                                             <br/>
                                             <b>{{items.createdAt  | date: "shortTime"}}   </b> 
                                            </ul> 
                                        </div>      
                                      
                                               </li>
                                                     
                                                </div>
                      </div>
                      <div class="col-sm-12 proc" *ngIf="show">
                            <div class="col-sm-1">
                                    <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                                </a>
                            </div>
                                
                                  <div class="col-sm-1">
                                          <a href="https://www.whatsapp.com/" target="_blank">
                                      <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                          </a>
                                </div>
                                   <div class="col-sm-1">
                                     <a href="https://plus.google.com/discover" target="_blank">
                                     <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                                   </div>
                       <div class="col-sm-1"> 
                           <a href="https://twitter.com/login" target="_blank">
                             <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
                       </div>
                     <div class="col-sm-1"> 
                        <a href="https://www.instagram.com/accounts/login/" target="_blank">
                          <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
                       </div>
                      </div>
                     
                      </div>
                     
                    </div>
            
                </div> 
                </div>
                </div>
                </div>
<!-- ***********************************only comments show*********************** -->
                <div class="col-sm-12" *ngIf="onlyCommentsShows">
                        <h1> Recieve Comments ({{onlyCommentsCounts}}) </h1>
                
                        <table class="table">
                                <thead>
                                  <tr>
                                        <th>S no</th>
                                    <th>Date & Time</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact No</th>
                                    <th>Leave Comments </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let com of onlyComments; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                                    <td> {{com.name}}  </td>
                                    <td>{{com.email}}</td>
                                    <td>{{com.contactNo}}</td>
                                    <td>{{com.leaveComment}}</td>
                                  </tr>
                                   
                                </tbody>
                              </table>
                      </div>
<!-- ***********************************only comments show end*********************** -->

                      <div class="col-sm-12" *ngIf="ImagesShows">
          
                            <div class="col-sm-12">
                                    <h3 class="gimages"> General Images </h3>
                                   
                    <div class="col-sm-4 mars">
                        <a href="{{furnitureuser.images1}}" target="_blank"> 
                            <img src="{{furnitureuser.images1}}" alt="about us" style="width:100%;height:250px"> 
                         </a>
                     </div>
                    <div class="col-sm-4 mars">
                            <a href="{{furnitureuser.images2}}" target="_blank"> 
                                <img src="{{furnitureuser.images2}}" alt="about us" style="width:100%;height:250px"> 
                             </a>
                         </div>
                        <div class="col-sm-4 mars">
                                <a href="{{furnitureuser.images3}}" target="_blank"> 
                                    <img src="{{furnitureuser.images3}}" alt="about us" style="width:100%;height:250px"> 
                                 </a>
                             </div>
                            <div class="col-sm-4 mars">
                                    <a href="{{furnitureuser.images4}}" target="_blank"> 
                                        <img src="{{furnitureuser.images4}}" alt="about us" style="width:100%;height:250px"> 
                                     </a>
                                 </div>
                    
                                <div class="col-sm-4 mars">
                                        <a href="{{furnitureuser.images5}}" target="_blank"> 
                                            <img src="{{furnitureuser.images5}}" alt="about us" style="width:100%;height:250px"> 
                                         </a>
                                     </div>
                    
                                    <div class="col-sm-12">
                                            <h1 class="gimages"> Update Images </h1>
                                            <div class="col-sm-4 mars" *ngFor="let item of adminupdatesFurnitures">
                                                    <a href="{{item.images}}" target="_blank"> 
                                                        <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                                     </a>
                                                 </div>
                            
                                    </div>
                                                        
                                    <div class="col-sm-12">
                                            <h1 class="gimages"> Update Video  </h1>
                                            <div class="col-sm-6 mars" *ngFor="let pro of adminupdatesFurnitures">
                                                    <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                                    <a href="{{pro.viedoes}}" target="_blank"> 
                                                            <video width="100%" controls>
                                                                    <source src="{{pro.viedoes}}" type="video/mp4">
                                                                    
                                                                   </video> 
                                                                      
                                                     </a>
                                                </div>
                                     </div>
                            </div>
                            
                         </div>

        
                         <!-- *****************************************products*********************** -->
                         <div class="col-sm-9" *ngIf="ProductsShows">
                             <div class="col-sm-12">
                                 <h2> Product Types </h2>
                                    <mat-form-field class="example-full-width">
                                            <input matInput placeholder="furniture Type" [(ngModel)]="tr.furnitureType" name="name">
                                          </mat-form-field>
                                          <button class="btn-primary upbuttons" (click)="furnitureTypesPosts()"> submit </button>

                             </div>
                             <div class="col-sm-5">
                                    <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{furnitueTypeName}} <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                          <li class="locationsdrops" *ngFor="let get of furnitureTypeGetss" (click)="furnitureClick(get)">{{get.furnitureType}}</li>
                                          </ul> 
                           </div>
                                <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <h3> Post Product  On {{furnitueTypeName}}  </h3> 
                                            
                                                <br/>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="name" [(ngModel)]="productsPosts.name" name="name">
                                              </mat-form-field>
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="price" [(ngModel)]="productsPosts.price" name="price">
                                                </mat-form-field>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="productDescription" [(ngModel)]="productsPosts.productDescription" name="productDescription">
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="guarantee" [(ngModel)]="productsPosts.guarantee" name="guarantee">
                                                    </mat-form-field>
                                      
                                              <input type="file" #Image accept="images/*" class="buttonsbotm" (change)="handleFile($event,'images')" name="images">
                                              <button class="btn-primary upbuttons" (click)="OnSubmitProductsFurniturespost()"> submit </button>


                                              
                                        </div>

                                        <!-- <div class="col-sm-12">
                                                <h3> Post   Customers Reviews </h3> 
                                                
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="customer Name" [(ngModel)]="productsPosts.customerName" name="customerName">
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="customerPlace" [(ngModel)]="productsPosts.customerPlace" name="customerPlace">
                                                    </mat-form-field>
                                                    
                                          
                                                  <input type="file" #Image accept="images/*" class="buttonsbotm" (change)="handleFileInputCustomers($event,'customerImg')" name="customerImg">
                                                  <button class="btn-primary upbuttons" (click)="OnSubmitProductsFurnituresposts()"> submit </button>
                                          
                                            </div> -->
                                       
                                      </div>
                 
                               </div>
           <!-- *******************************************************   -->
           <div class="col-sm-12" *ngIf="ProductsViewShows">
                <div class="col-sm-12">
                        <h4> View  Products ({{productscounts}})</h4>
                      
                          <div class="col-sm-12">
                              <div class="col-sm-12" *ngFor="let pro of products"  (click)="OnClickToCustomers(pro)">
                                  <div class="col-sm-5">
                                    <div class="col-md-12">
                                        <div class="thumbnail">
                                             <img src="{{pro.images}}" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                  <p> Name: {{pro.name}}  </p>
                                                  <img src="assets/images/money.png" alt="about us" class="img-thumbnail" style="width:17%">  

                                                  <p>{{pro.productDescription}}</p>     

                                               </div>
                                         </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                            
<div class="col-sm-12">
    <div class="col-sm-12">
        <div class="col-sm-5" *ngFor="let pro of customersGet">
                <img src="{{pro.images}}" alt="Lights" style="width:100%">

<h4>  {{pro.customerName}} </h4>
<h4>  {{pro.customerPlace}} </h4>
         </div>
    </div>
</div>

                      
             </div>
          
      </div>  
    </div>
  </div>


  

 








   












              