
<div class="col-sm-12">
  <div class="col-sm-7">
      <h1> creating disticts form</h1>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="locations" [(ngModel)]="locationsdata.locations" name="locations">
        </mat-form-field>
    
        <button (click)="postlocations()"> sublit </button>
    
    </div>
    
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{locationName}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let get of locationsgets" (click)="locations(get)">{{get.locations}}</li>
        </ul> 
    </div>
    
</div>

<div class="col-sm-12">

  <div class="col-sm-7 loc">
      <h1> creating area form</h1>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="locations" [(ngModel)]="areas.area" name="area">
        </mat-form-field>
  
        <button (click)="postarea()"> sublit </button>
  
    </div>
  
<div class="col-sm-3">
      <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectArea}}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="locationsdrops" *ngFor="let gets of areasAll" (click)="selectedAreas(gets)">{{gets.area}}</li>
            </ul> 
    </div>
    
</div>





<div class="col-sm-12 locs">
        <h1> creating users form</h1>
        
    
          <div class="adminforms">
                   <div class="col-sm-6  adforms">
                      <form class="example-form">
                        <!-- ****************************name******************************** -->
                       
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="name" [(ngModel)]="bcmain.name" name="name">
                        </mat-form-field>
                                    <!-- ****************************shopname******************************** -->
          
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="shop name" [(ngModel)]="bcmain.shopname" name="shopname">
                        </mat-form-field>
          
                        <!-- ****************************aboutUsDescriptionOne******************************** -->
          
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="aboutUsDescriptionOne" [(ngModel)]="bcmain.aboutUsDescriptionOne" name="aboutUsDescriptionOne">
                        </mat-form-field>
                  <!-- ****************************aboutUsDescriptionTwo******************************** -->
          
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="aboutUsDescriptionTwo" [(ngModel)]="bcmain.aboutUsDescriptionTwo" name="aboutUsDescriptionTwo">
                  </mat-form-field>
                  
                          <!-- ****************************day1******************************** -->
          
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="day1" [(ngModel)]="bcmain.day1" name="day1">
                          </mat-form-field>
    
                           <!-- ****************************day2******************************** -->
          
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="day2" [(ngModel)]="bcmain.day2" name="day2">
                        </mat-form-field>
    
                         <!-- ****************************day3******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="day3" [(ngModel)]="bcmain.day3" name="day3">
                        </mat-form-field>
    
                         <!-- ****************************day4******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="day4" [(ngModel)]="bcmain.day4" name="day4">
                        </mat-form-field>
    
    
                         <!-- ****************************day5******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="day5" [(ngModel)]="bcmain.day5" name="day5">
                        </mat-form-field>
    
    
                         <!-- ****************************day6******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="day6" [(ngModel)]="bcmain.day6" name="day6">
                        </mat-form-field>
    
    
                         <!-- ****************************day7******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="day7" [(ngModel)]="bcmain.day7" name="day7">
                        </mat-form-field>
    
                         <!-- ****************************totaltiming******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="totaltiming" [(ngModel)]="bcmain.totaltiming" name="totaltiming">
                        </mat-form-field>
    
    
                        
                </form>
                      </div>
                      <div class="col-sm-6  adforms">
                          <form class="example-form">
                           
                         <!-- ****************************hno******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="hno" [(ngModel)]="bcmain.hno" name="hno">
                        </mat-form-field>
    
                         <!-- ****************************area******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="area" [(ngModel)]="bcmain.area" name="area">
                        </mat-form-field>
    
                         <!-- ****************************landmark******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="landmark" [(ngModel)]="bcmain.landmark" name="landmark">
                        </mat-form-field>
    
            
                         <!-- ****************************city******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="city" [(ngModel)]="bcmain.city" name="city">
                        </mat-form-field>
    
                         <!-- ****************************distict******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="distict" [(ngModel)]="bcmain.distict" name="distict">
                        </mat-form-field>
                        
                         <!-- ****************************state******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="state" [(ngModel)]="bcmain.state" name="state">
                        </mat-form-field>
                        
                         <!-- ****************************pincode******************************** -->
          
                         <mat-form-field class="example-full-width">
                          <input matInput placeholder="pincode" [(ngModel)]="bcmain.pincode" name="pincode">
                        </mat-form-field>
                        
           <!-- ****************************officeno******************************** -->
          
           <mat-form-field class="example-full-width">
            <input matInput placeholder="officeno" [(ngModel)]="bcmain.officeno" name="officeno">
          </mat-form-field>
                        
           <!-- ****************************mobileno******************************** -->
          
           <mat-form-field class="example-full-width">
            <input matInput placeholder="mobileno" [(ngModel)]="bcmain.mobileno" name="mobileno">
          </mat-form-field>
          
           <!-- ****************************whatsupno******************************** -->
          
           <mat-form-field class="example-full-width">
            <input matInput placeholder="whatsupno" [(ngModel)]="bcmain.whatsupno" name="whatsupno">
          </mat-form-field>
          
           <!-- ****************************emailid******************************** -->
          
           <mat-form-field class="example-full-width">
            <input matInput placeholder="emailid" [(ngModel)]="bcmain.emailid" name="emailid">
          </mat-form-field>
           
          
                             <!-- ****************************image1****************************** -->
                         <!-- <input type="file" (change)="onFileSelected($even.target.value)"> -->
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images1')" [(ngModel)]="bcmain.images1" name="images1">
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images2')" [(ngModel)]="bcmain.images2" name="images2">
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images3')" [(ngModel)]="bcmain.images3" name="images3">
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images4')" [(ngModel)]="bcmain.images4" name="images4">
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images5')" [(ngModel)]="bcmain.images5" name="images5">
                    <input type="file" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInput($event,'images6')" [(ngModel)]="bcmain.images6" name="images6">
                    
                           <!-- ****************************image2******************************** -->
          
                          </form>
                          </div>
                          <button type="submit" class="btn-large btn-submit" (click)="postUsers()">Submit</button>
          
              </div>
            </div>
      
   <!-- *************************************************************************************** -->
   <div class="col-sm-12">
           
      <h2> Area Adds One </h2>
  <mat-form-field class="example-full-width">
   <input matInput placeholder="please enter your addsOneLink" [(ngModel)]="areaAddsOne.addsOneLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'addsOneImg')" [(ngModel)]="areaAddsOne.addsOneImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsOne()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsOnes">
  <a href="{{one.addsOneLink}}">
  <img src="{{one.addsOneImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsOneaDelete(one)"> Delete  Add One </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Two </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsOneLink" [(ngModel)]="areaAddsTwo.addsTwoLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesTwo($event,'addsTwoImg')" [(ngModel)]="areaAddsTwo.addsTwoImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsTwo()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsTwos">
  <a href="{{one.addsTwoLink}}">
  <img src="{{one.addsTwoImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsTwoaDelete(one)"> Delete  Add Two </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Three </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsThreeLink" [(ngModel)]="areaAddsThree.addsThreeLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesThree($event,'addsThreeImg')" [(ngModel)]="areaAddsThree.addsThreeImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsThree()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsThrees">
  <a href="{{one.addsThreeLink}}">
  <img src="{{one.addsThreeImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsThreeaDelete(one)"> Delete  Add Three </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
     
  <h2> Area Adds Four </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFourLink" [(ngModel)]="areaAddsFour.addsFourLink" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFour($event,'addsFourImg')" [(ngModel)]="areaAddsFour.addsFourImg" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFour()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFours">
  <a href="{{one.addsFourLink}}">
  <img src="{{one.addsFourImg}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFouraDelete(one)"> Delete  Add Four </button>
  
  </div>
  </div> 
  
  
  <div class="col-sm-12">
     
  <h2> Area Adds One Locations </h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsOneLinkLoc" [(ngModel)]="areaAddsOneLoc.addsOneLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesOneLoc($event,'addsOneImgLoc')" [(ngModel)]="areaAddsOneLoc.addsOneImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsOneLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsOneLocl">
  <a href="{{one.addsOneLinkLoc}}">
  <img src="{{one.addsOneImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsOneLocDelete(one)"> Delete  Adds One Locations </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Two Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsTwoLinkLoc" [(ngModel)]="areaAddsTwoLoc.addsTwoLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesTwoLoc($event,'addsTwoImgLoc')" [(ngModel)]="areaAddsTwoLoc.addsTwoImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsTwoLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsTwoLoc">
  <a href="{{one.addsTwoLinkLoc}}">
  <img src="{{one.addsTwoImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsTwoLocDelete(one)"> Delete  Add Two Locations </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Three Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsThreeLinkLoc" [(ngModel)]="areaAddsThreeLoc.addsThreeLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesThreeLoc($event,'addsThreeImgLoc')" [(ngModel)]="areaAddsThreeLoc.addsThreeImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsThreeLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsThreeLoc">
  <a href="{{one.addsThreeLinkLoc}}">
  <img src="{{one.addsThreeImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsThreeLocDelete(one)"> Delete  Add Three Locations</button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Four Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFourLinkLoc" [(ngModel)]="areaAddsFourLoc.addsFourLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFourLoc($event,'addsFourImgLoc')" [(ngModel)]="areaAddsFourLoc.addsFourImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFourLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFoursLoc">
  <a href="{{one.addsFourLinkLoc}}">
  <img src="{{one.addsFourImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFourLocDelete(one)"> Delete  Add Four </button>
  
  </div>
  </div> 
  <div class="col-sm-12">
  
  <h2> Area Adds Five Locations</h2>
  <mat-form-field class="example-full-width">
  <input matInput placeholder="please enter your addsFiveLinkLoc" [(ngModel)]="areaAddsFiveLoc.addsFiveLinkLoc" name="title">
  </mat-form-field>
  
  <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesFiveLoc($event,'addsFiveImgLoc')" [(ngModel)]="areaAddsFiveLoc.addsFiveImgLoc" class="updated" name="images1" >
  
  <button class="btn-primary upbuttons" (click)="postAddsFiveLoc()"> submit </button>
  <div class="col-sm-12" *ngFor="let one of babycaresAddsFivesLoc">
  <a href="{{one.addsFiveLinkLoc}}">
  <img src="{{one.addsFiveImgLoc}}" alt="about us" style="width:100%;height:200px">
  </a>
  <button (click)="babycaressareasAddsFiveLocDelete(one)"> Delete  Add Five Locations</button>
  
  </div>
  </div> 
  