.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .adss{ padding: 20px; background-color: beige;}
  .imps{margin-bottom:40px}