 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
     
    
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
    
  </div>
  
    
    </div>
  </nav>
<div class="catog">
    <div class="bgshostel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 bghostels">
        
                        <h2 class="cnames"> {{gymuser.gymName}} </h2>    

                    <div class="col-sm-12 bgimg">

                        <img src="{{gymuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                    
                    </div>
        
        <h4> over all view </h4>
        <ul class="overllview">
           
            <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> About Us </span> 
                 
                </a> 
            </li>
            <li class="fontsize"> <a href="#iamges" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Images </span> 
                     
                   </a> 
               </li>
               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Timings </span> 
                     
                   </a> 
               </li>
               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Our Services </span> 
                     
                   </a> 
               </li>
               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                    <span class="glyphicon glyphicon-hand-right"> Facilities </span> 
                       
                     </a> 
                 </li>
                 <li class="fontsize"> <a href="#payments" data-toggle="tab">
                        <span class="glyphicon glyphicon-hand-right"> Our Users </span> 
                           
                         </a> 
                     </li>
              
               <li class="fontsize"> <a href="#address" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Address</span> 
                   
                   </a> 
               </li>
               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Contact Informations</span> 
                    
                   </a> 
               </li>
               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                    
                   </a> 
               </li>
               <li class="fontsize"> <a href="#com" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Leave Comments</span> 
                   
                   </a> 
               </li>
            </ul>
            
            <hr/>
           
            </div>
            </div>
            </div>
            </div>

            <!-- *********************about us*********************** -->
     <div class="bgimgses">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 mains">
  
              
  <div class="col-md-12">
  <img src="{{gymuser.images2}}" style="width:100%" class="pull-left img-thumbnail profilepic img-responsive">
    
  <hr/>
  </div>
  </div>
  <div class="col-sm-6 mains">
  
      
  <div class="col-md-12">
      <p class="aboutus"> About Us  </p>
      <p class="aboutuso">  {{gymuser.aboutUsDescription1}}</p>
      <p class="aboutust"> {{gymuser.aboutUsDescription2}} </p>
  <hr/>
  <h3 class="aboutusts"> <b> {{gymuser.name}} </b></h3>
  <hr/>
  </div>
  </div>
      </div>
    </div>
  </div>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-3">
                    <div class="col-sm-12 timings">
                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
    <ul>
      <li class="nones"> {{gymuser.day1}} </li>
      <li class="nones"> {{gymuser.day2}} </li>
      <li class="nones"> {{gymuser.day3}} </li>
      <li class="nones"> {{gymuser.day4}} </li>
      <li class="nones"> {{gymuser.day5}} </li>
      <li class="nones"> {{gymuser.day6}} </li>
      <li class="nones"> {{gymuser.day7}} </li>
      <li class="nones"> Hours Of Operations : <span class="hrs"> {{gymuser.allTimes}} </span> </li>
    </ul>
    <hr/>
                    </div>
                  
                      <hr/>
                      <div class="col-sm-12 e addes">
  
                          <h4 class="ads"> Address </h4> 
                          <hr/>
                          <div class="col-sm-12 cons addresscap">
                             H No:{{gymuser.hno}} , {{gymuser.area}},{{gymuser.landmark}},{{gymuser.city}}
                             {{gymuser.distict}},
                              {{gymuser.state}},
                              {{gymuser.pincode}}
                        </div>
          
                      </div>
                   
                      <div class="col-sm-12 e addes">
                          <h4 class="ads"> Contact informations </h4> 
                          <hr/>
                          <div class="col-sm-12 cons">
    <p>  
        <span class="glyphicon glyphicon-phone-alt"> office no: {{gymuser.officeNo}} 
        
    </span>
     </p>
                                <br>
      <p> 
           <span class="glyphicon glyphicon-earphone">
                 Mobile No: {{gymuser.mobileNo}} 
          </span></p>
                                  <br>
              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                   whatsapp No: {{gymuser.whatsupno}} </i></p>
                                                            <br>
                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{gymuser.emailId}} </i>
                               
                              </p> 
                                <br>
                                
                          </div>
    
                        </div>
                    </div>
    <div class="col-sm-9">
       <div class="col-sm-12">
           <h2> Our Team Members </h2>
            <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{gymuser.images3}}" class="img-thumbnail" alt="Los Angeles" style="width:100%;height:600px">
                  </div>
            
                  <div class="item">
                    <img src="{{gymuser.images4}}" class="img-thumbnail" alt="Chicago" style="width:100%;height:600px">
                  </div>
                
                  <div class="item">
                    <img src="{{gymuser.images5}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                  </div>
                  <div class="item">
                      <img src="{{gymuser.images6}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                    </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div> 
            </div>

<h3> <b> {{gymuser.teamMembersNames}}  </b> </h3>
    <h5> {{gymuser.teamDescriptions}}  </h5>

         </div>
      
          
    <!-- ******************* OUR SERVICES ********************************* -->


<div class="col-sm-12">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{genderName}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li class="locationsdrops" *ngFor="let get of gymuserCat" (click)="catageries(get)">{{get.genders}}</li>
              </ul> 
    </div>

    <div class="col-sm-12">
        <h3> Our Service </h3>
        <div class="col-sm-6 lsc">
            <div class="col-sm-6" *ngFor="let ser of gymServices" (click)="clickImageDetails(ser)">
                     <div class="thumbnail">
                        <img src="{{ser.images1}}" class="img-thumbnail" alt="Nature" style="width:100%;height:200px">
                        <div class="caption">
                          <p class="services2">{{ser.serviceName}}</p>
                        </div>
                   </div>

                    </div>
 
         </div>
        <div class="col-sm-6 boxesshadow" *ngIf="showdetails">
                <h6> <b> {{gymServicesind.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{gymServicesind.createdAt  | date: "shortTime"}}   </b> </h6>        

            <h3 class="servies"> {{gymServicesind.serviceName}} </h3>
            <h3 class="services1">Traniner Name : <b class="tnr"> {{gymServicesind.trainerName}}  </b>    </h3>
            <h4 class="services1">Traniner Exp :  <b class="tnr"> {{gymServicesind.yearsOfExp}}   </b> </h4>
            <h5 class="services1"> Traniner Timmings : <b class="tnr"> {{gymServicesind.timmings}}   </b>  </h5>
            <h3 class="services1"> Traniner Descriptions : <b class="tnr"> {{gymServicesind.trainerdes}} </b>     </h3>
            <h4 class="services1">  <b class="tnr">  {{gymServicesind.generalDescription}}  </b>   </h4>
            <img src="{{gymServicesind.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
            <img src="{{gymServicesind.images2}}" class="img-thumbnail" alt="Nature" style="width:100%">

        </div>
     </div>

     <div class="colsm-12 tablesin">
         <h4> Over All View</h4>
          
  <table class="table table-striped">
    <thead>
      <tr>
            <th> Sl.No </th>
        <th> Service Name </th>
        <th> Traniner Name </th>
        <th> Traniner Exp </th>
        <th> Traniner Timmings</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ser of gymServices; index as i" >
            <td> <p class="services2">{{i+1}} </p> </td>
        <td> <p class="services2">{{ser.serviceName}}</p> </td>
        <td> <p class="services2">{{ser.trainerName}}</p> </td>
        <td> <p class="services2">{{ser.yearsOfExp}}</p> </td>
        <td> <p class="services2">{{ser.timmings}}</p> </td>

      </tr>
       
    </tbody>
  </table>
     </div>
</div>
 
      <!-- *************************************************** -->
 
  <!-- ******************* EQUIPMENTS ********************************* -->

<div class="col-sm-12">
    <h3> Equipments ({{equipmentsCount}})</h3>
    <div class="col-sm-6">
    <div class="col-sm-6" *ngFor="let ser of equipments" (click)="clickEquipmentsDetails(ser)">
                    <div class="thumbnail">
                       <img src="{{ser.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                       <div class="caption">
                         <p class="services2">{{ser.equiName}}</p>
                       </div>
                  </div>
                  </div>
                </div>

    <div class="col-sm-6" *ngIf="equipmentsShow">
            <h6> <b> {{equipmentsind.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{equipmentsind.createdAt  | date: "shortTime"}}   </b> </h6>        

            <h3 class="servies"> {{equipmentsind.equiName}} </h3>
            <h3 class="services1">Traniner Name : <b class="tnr"> {{equipmentsind.trainerName}}  </b>    </h3>
            <h4 class="services1">Traniner Exp :  <b class="tnr"> {{equipmentsind.yearsOfExp}}   </b> </h4>
            <h5 class="services1"> Equipments Height : <b class="tnr"> {{equipmentsind.height}}   </b>  </h5>
            <h3 class="services1"> Equipments Weight : <b class="tnr"> {{equipmentsind.weight}} </b>     </h3>
             <h4 class="services1"> Equipments Descriptions : <b class="tnr">  {{equipmentsind.description1}}</b></h4>
            <h4 class="services1"> <b class="tnr">  {{equipmentsind.description2}}  </b>   </h4>
 
            <img src="{{equipmentsind.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
            <img src="{{equipmentsind.images2}}" class="img-thumbnail" alt="Nature" style="width:100%">
        </div>

        <div class="colsm-12 tablesin">
            <div class="col-sm-12">
                    <h4> Over All View </h4>
            </div>
                
                 
         <table class="table table-striped">
           <thead>
             <tr>
                   <th> Sl.No </th>
                   <th> Trainer Name </th>
               <th> Equipment Name</th>
               <th> Equipment Height </th>
               <th> Equipment Weight </th>
                
       
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let ser of equipments; index as i" >
                   <td> <p class="services2">{{i+1}} </p> </td>
                   <td> <p class="services2">{{ser.trainerName}}</p> </td>
               <td> <p class="services2">{{ser.equiName}}</p> </td>
               <td> <p class="services2">{{ser.height}}</p> </td>
               <td> <p class="services2">{{ser.weight}}</p> </td>
                
       
             </tr>
              
           </tbody>
         </table>
            </div>
</div>



  <!-- *************************************************** -->
  <!-- ******************* Fecilities********************************* -->
<div class="col-sm-12  ">
        <h3> Fecilities ({{fecilitiesCount}}) </h3>
    <div class="col-sm-6  " *ngFor="let gf of fecilities">

        <div class="col-sm-6">
                <h3 class="servies"> {{gf.ficilitiesName}} </h3>
            <img src="{{gf.images1}}" class="img-thumbnail" alt="Nature" style="width:100%"> 
        </div>

        <div class="col-sm-6">
               
            <h6> <b> {{gf.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{gf.createdAt  | date: "shortTime"}}   </b> </h6>        
            <h3 class="services1"> Descriptions : <b class="tnr"> {{gf.descriptions}}  </b>    </h3>
                <h4 class="services1"> Maintainces :  <b class="tnr"> {{gf.maintainces}}   </b> </h4>
         </div>
       </div>

       
</div>
  
    <!-- ************************************************** -->

  <!-- ******************* no of the users********************************* -->
  <!-- <div class="col-sm-12  ">
        <h3> No Of Users ({{usersgetCount}}) </h3>
    

        <div class="col-sm-6  ">
                <div class="thumbnail col-sm-4"  *ngFor="let u of usersget" (click)="clickUsersDetails(u._id)">
                        <img src="{{u.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                        <div class="caption">
                          <p class="services2"> Name : {{u.name}}</p>
                           
                        </div>
        </div>
 
</div>
 
<div class="col-sm-6  " *ngIf="showUsersDetails">
    <div class="col-sm-12">
            <h3 class="services1"> Name : <b class="tnr"> {{usersgetind.name}}  </b>    </h3>
            <h3 class="services1"> Area : <b class="tnr"> {{usersgetind.area}}  </b>    </h3>
            <h3 class="services1"> Trainer Name : <b class="tnr"> {{usersgetind.coachName}}  </b> </h3>
            <h3 class="services1"> About Trainer : <b class="tnr"> {{usersgetind.aboutCoach}}  </b>  </h3>
            <h3 class="services1"> My Goal: <b class="tnr"> {{usersgetind.goal}}  </b>    </h3>
            
 

    </div>
        <div class="thumbnail">
                <img src="{{usersgetind.images1}}" class="img-thumbnail" alt="Nature" style="width:100%">
                <div class="caption">
                  <p class="services2"> Before </p>
                  <h3 class="services1"> Date Of Joining: <b class="tnr"> {{usersgetind.joinDate}}  </b>  </h3>
                  <p class="services2"> {{usersgetind.shortDescp1}}   </p>
                  <p class="services2"> {{usersgetind.descriptions1}}   </p>
                </div>
            </div>
                <div class="thumbnail">
                        <img src="{{usersgetind.images2}}" class="img-thumbnail" alt="Nature" style="width:100%">
                        <div class="caption">
                          <p class="services2"> At Present</p>
                          <h3 class="services1"> Current Date: <b class="tnr"> {{usersgetind.presentDate}}  </b>  </h3>
                          <p class="services2"> {{usersgetind.shortDescp2}}   </p>
                          <p class="services2"> {{usersgetind.descriptions2}}   </p>
                        </div>
 
</div>
</div>

<table class="table table-striped">
        <thead>
          <tr>
                <th> Sl.No </th>
                <th> Name </th>
            <th> Date Of Join </th>
            <th> Current date </th>
            <th> fitness goal </th>
            <th> Trainer Name </th>

    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ser of usersget; index as i" >
                <td> <p class="services2">{{i+1}} </p> </td>
                <td> <p class="services2">{{ser.name}}</p> </td>
            <td> <p class="services2">{{ser.joinDate}}</p> </td>
            <td> <p class="services2">{{ser.presentDate}}</p> </td>
            <td> <p class="services2">{{ser.goal}}</p> </td>
            <td> <p class="services2">{{ser.coachName}}</p> </td>

    
          </tr>
           
        </tbody>
      </table>
   
</div> -->
    <!-- ************************************************** -->

  <!-- ******************* UPDATES PRESENT ********************************* -->
 <div class="col-sm-8 col-sm-offset-3">
   <h3> Our Updates ( {{clientUpdatesCnts}} ) </h3>
    <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
      <div class="col-sm-12">
          <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
            <a> 
                <img src="{{up.images}}" alt="about us" style="width:100%"></a>
      </div>
  <div class="col-sm-12 viedoes">
          <video width="100%" height="400px" controls>
              <source src="{{up.viedoes}}" type="video/mp4">
             </video>
        </div>
    
        <div class="col-sm-12">
            <h3> {{up.title}} </h3>
            <h6> {{up.description}} </h6>
         </div>

         <!-- <div class="col-sm-3" (click)="shareClick(up)">
                <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                  share </p>
             </div> -->
            <div class="col-sm-3" (click)="commentsClick(up)">
                <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                  <span class=""> comments </span> 
               </p>
        </div>
        <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
            <div class="col-sm-1">
                <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
            </a>
        </div>
            
              <div class="col-sm-1">
                      <a href="https://www.whatsapp.com/" target="_blank">
                  <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                      </a>
            </div>
               <div class="col-sm-1">
                 <a href="https://plus.google.com/discover" target="_blank">
                 <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
               </div>
   <div class="col-sm-1"> 
       <a href="https://twitter.com/login" target="_blank">
         <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
   </div>
 <div class="col-sm-1"> 
    <a href="https://www.instagram.com/accounts/login/" target="_blank">
      <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
   </div>
        </div>
    
      <div class="col-sm-12">
          <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
              <mat-form-field class="example-full-width">
                  <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                </mat-form-field>
                <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
            <div class="col-sm-12">
              <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
          </div>
        </div>
 
  <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
<div class="col-sm-12" *ngFor="let comms of getUsersComments">
  <div class="col-sm-12 userscomm">
  <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                   <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                    <h6>  {{comms.descriptions}} </h6> 
 </div>                  
                <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                        <a class="replyses">
                            <b class="replies lsc"> reply   </b></a>
                    </div> 
                 


    <div  class="u" *ngIf="replyfrom && replyid == comms._id">
      <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
          <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
     <img src="{{gymuser.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
        {{gymuser.name}}:</span>
       <h6> {{rep.descriptions}} </h6> 
       </div> 
       </div> 

      </div>
    </div>
</div>
      </div>
    </div>
         
               <!-- **************************************************** -->
          
  <!-- **************** com ************* -->
      
 <div class="container-fluid">
    <div class="row">
            <div class="col-sm-8 col-sm-offset-2 comments">
              <h4 class="aboutu"> Leave your comments </h4> 
              <hr/>  
                <div class="col-sm-10 col-sm-offset-2">
                  <form class="example-form">
                      <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" [(ngModel)]="commentspost.name" name="comments">
                      </mat-form-field>
                      </div>

                      <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email Id" [(ngModel)]="commentspost.email" name="email">
                        </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Contact No" [(ngModel)]="commentspost.contactNo" name="contact">
                          </mat-form-field>
                          </div>

                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Leave a comment" [(ngModel)]="commentspost.leaveComment" name="leaveComment"></textarea>
                            </mat-form-field>
                          </div>
                      </form>
                   <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
              </div>  

             </div>
          </div>
</div> 



    <!-- ************************************************** -->
    </div>
  </div>
  </div>

  <div class="col-sm-12 footerback">
      <div class="col-sm-8 col-sm-offset-3">
        <div class="col-sm-8">
          <!-- <div class="col-sm-4">
            <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
               <h3> About Us </h3>
           </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          </div> -->
          <div class="col-sm-4">
           <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
       
            <h3>  Advertises  </h3>
          </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-sm-4">
          <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
       
            <h3> Feedback   </h3>
        </a>
      </div>
        </div>
       <div class="col-sm-8 catas">
          <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                  Animals  
          </a>
           /  
           <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
      
               Baby Care Centers  
          </a>
           /  
           <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
      
            Beauty Parlour   </a>
            /
           
           <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
      
              Dance   </a>
               / 
               <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                Driving Schools  
             </a> 
             / 
               
             <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                 Fights Institutions 
             </a> 
             /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                Fire Works  
             </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
        
                 Function Halls 
            </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
        
                 Furnitures  
            </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
        
               GYM  
            </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                Hostels 
            </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
               Indoor Games  
             </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
          
                Marriage Bureaus  
            </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
      
                 Music  Institutions
            </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                Outdoor Games  
             </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
        
               Plants  
            </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                 Packers and Movers  
             </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                 Professional Insitutions  
             </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
        
               Real Estate 
            </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
      
                Restaurants  
            </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
      
         Swimming Pools  
            </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
                 Tutions  Centers  
            </a>
          
       </div>
       <div class="col-sm-8 locationcs">
         <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
       </div>
  
       <div class="col-sm-6">
        
        <h3> Keep in touch </h3>
        <div class="col-sm-2">
          <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
      </a>
  </div>
  
<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

        </div>
  <div class="col-sm-8 ">
  <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
  </div>
      </div>
    </div>








 





